Repository Lightning-Universe/lightning-flash, pull requests merged in 2021-09, with the labels that each got.

#715 Add parsing of kwargs to request dataloaders + test
  flash/core/trainer.py
  tests/core/test_trainer.py
Labels: bug / fix

#716 Fix lightning dev branch datapipeline error
  flash/core/data/data_pipeline.py
Labels: bug / fix

#709 Update tokenization after deprecation of function (prepare_seq2seq)
  flash/text/classification/data.py
  flash/text/seq2seq/core/data.py
  flash/text/seq2seq/summarization/data.py
  flash/text/seq2seq/translation/data.py
  tests/text/seq2seq/summarization/test_data.py
  tests/text/seq2seq/translation/test_data.py
Labels: enhancement

#737 [PoC] Add MetaLearning support through learn2learn
  .azure-pipelines/gpu-tests.yml
  CHANGELOG.md
  flash/core/adapter.py
  flash/core/classification.py
  flash/core/data/data_module.py
  flash/core/data/data_pipeline.py
  flash/core/data/data_source.py
  flash/core/data/process.py
  flash/core/data/transforms.py
  flash/core/integrations/icevision/adapter.py
  flash/core/model.py
  flash/core/registry.py
  flash/core/utilities/imports.py
  flash/core/utilities/providers.py
  flash/image/classification/adapters.py
  flash/image/classification/integrations/__init__.py
  flash/image/classification/integrations/learn2learn.py
  flash/image/classification/model.py
  flash/image/data.py
  flash/pointcloud/detection/model.py
  flash/pointcloud/segmentation/model.py
  flash_examples/image_classification_meta_learning.py
  flash_examples/integrations/learn2learn/image_classification_imagenette_mini.py
  requirements/datatype_image_extras.txt
  tests/core/test_model.py
  tests/examples/test_integrations.py
  tests/examples/test_scripts.py
  tests/image/classification/test_training_strategies.py
  tests/image/detection/test_model.py
  tests/special_tests.sh
Labels: enhancement

#776 Document object detector augmentations
  docs/source/reference/object_detection.rst
  flash/core/integrations/icevision/transforms.py
  flash/core/utilities/imports.py
Labels: documentation

#779 [Feat] Add ActiveLearning Loop Customization v2
  docs/source/index.rst
  docs/source/integrations/baal.rst
  flash/core/data/data_module.py
  flash/core/trainer.py
  flash/core/utilities/imports.py
  flash/image/classification/integrations/baal/__init__.py
  flash/image/classification/integrations/baal/data.py
  flash/image/classification/integrations/baal/dropout.py
  flash/image/classification/integrations/baal/loop.py
  flash_examples/integrations/baal/image_classification_active_learning.py
  requirements/datatype_image_extras.txt
  tests/examples/test_integrations.py
  tests/image/classification/test_active_learning.py
Labels: enhancement

#810 Add question answering thumbnail
  docs/source/reference/question_answering.rst
Labels: documentation
