Repository Lightning-Universe/lightning-flash, pull requests merged in 2021-11, with the labels that each got.

#894 python dependency feedback to users
  flash/image/embedding/model.py
Labels: bug / fix

#895 generalise the extras loading
  flash/setup_tools.py
  setup.py
Labels: enhancement

#909 Add fairscale to VISSL requirements
  flash/image/embedding/model.py
  requirements/datatype_image_extras.txt
Labels: bug / fix

#906 Tabular forecasting docs
  docs/source/api/core.rst
  docs/source/api/tabular.rst
  docs/source/index.rst
  docs/source/integrations/pytorch_forecasting.rst
  docs/source/reference/tabular_forecasting.rst
  flash/tabular/forecasting/data.py
  flash_examples/integrations/pytorch_forecasting/tabular_forecasting_interpretable.py
Labels: documentation

#908 Add Flash Zero support for tabular forecasting
  flash/__main__.py
  flash/core/integrations/pytorch_forecasting/adapter.py
  flash/core/utilities/flash_cli.py
  flash/tabular/forecasting/cli.py
  flash/tabular/forecasting/data.py
  flash/tabular/forecasting/model.py
  flash_examples/integrations/pytorch_forecasting/tabular_forecasting_interpretable.py
  flash_examples/tabular_forecasting.py
  tests/tabular/forecasting/test_model.py
Labels: enhancement

#931 Version pretrained models
  docs/source/general/predictions.rst
  docs/source/quickstart.rst
  flash_examples/integrations/fiftyone/image_classification.py
  flash_examples/integrations/fiftyone/image_classification_fiftyone_datasets.py
  flash_examples/serve/image_classification/inference_server.py
  flash_examples/serve/semantic_segmentation/inference_server.py
  flash_examples/serve/speech_recognition/inference_server.py
  flash_examples/serve/summarization/inference_server.py
  flash_examples/serve/tabular_classification/inference_server.py
  flash_examples/serve/text_classification/inference_server.py
  flash_examples/serve/translation/inference_server.py
  flash_notebooks/tabular_classification.ipynb
  tests/core/test_model.py
Labels: enhancement

#932 Fix broken notebooks
  flash/text/classification/model.py
  flash_examples/text_classification.py
  flash_notebooks/text_classification.ipynb
Labels: bug / fix, documentation

#933 Support PL 1.5.0
  CHANGELOG.md
  flash/core/data/data_pipeline.py
  flash/core/data/new_data_module.py
  flash/core/trainer.py
  flash/core/utilities/compatibility.py
  flash/core/utilities/imports.py
  flash/image/classification/adapters.py
  flash/image/classification/integrations/baal/loop.py
  flash/image/embedding/vissl/hooks.py
  flash/video/classification/model.py
  requirements.txt
  tests/audio/classification/test_data.py
  tests/audio/speech_recognition/test_data_model_integration.py
  tests/core/data/test_data_pipeline.py
  tests/core/utilities/test_lightning_cli.py
  tests/image/classification/test_data.py
  tests/image/detection/test_data.py
Labels: bug / fix

#935 Release 0.5.2
  CHANGELOG.md
  flash/__about__.py
Labels: enhancement

#927 Rename Serializer to Output and move to `flash.core.data.io.output`
  CHANGELOG.md
  docs/source/api/core.rst
  docs/source/api/data.rst
  docs/source/api/flash.rst
  docs/source/api/image.rst
  docs/source/common/finetuning_example.rst
  docs/source/general/data.rst
  docs/source/general/predictions.rst
  docs/source/integrations/fiftyone.rst
  docs/source/template/optional.rst
  flash/__init__.py
  flash/audio/speech_recognition/model.py
  flash/core/classification.py
  flash/core/data/batch.py
  flash/core/data/data_pipeline.py
  flash/core/data/io/__init__.py
  flash/core/data/io/output.py
  flash/core/data/output.py
  flash/core/data/process.py
  flash/core/integrations/fiftyone/utils.py
  flash/core/model.py
  flash/core/regression.py
  flash/core/serve/flash_components.py
  flash/core/serve/types/image.py
  flash/core/utilities/types.py
  flash/image/classification/model.py
  flash/image/detection/model.py
  flash/image/detection/output.py
  flash/image/face_detection/model.py
  flash/image/instance_segmentation/model.py
  flash/image/keypoint_detection/model.py
  flash/image/segmentation/data.py
  flash/image/segmentation/model.py
  flash/image/segmentation/output.py
  flash/image/style_transfer/model.py
  flash/pointcloud/detection/model.py
  flash/pointcloud/segmentation/model.py
  flash/tabular/classification/model.py
  flash/tabular/regression/model.py
  flash/template/classification/model.py
  flash/text/classification/model.py
  flash/video/classification/model.py
  flash_examples/integrations/baal/image_classification_active_learning.py
  flash_examples/integrations/fiftyone/image_classification.py
  flash_examples/integrations/fiftyone/image_classification_fiftyone_datasets.py
  flash_examples/integrations/fiftyone/object_detection.py
  flash_examples/integrations/labelstudio/image_classification.py
  flash_examples/serve/semantic_segmentation/inference_server.py
  flash_examples/serve/tabular_classification/inference_server.py
  tests/core/data/io/__init__.py
  tests/core/data/io/test_output.py
  tests/core/data/test_batch.py
  tests/core/data/test_data_pipeline.py
  tests/core/data/test_process.py
  tests/core/test_classification.py
  tests/image/classification/test_active_learning.py
  tests/image/classification/test_model.py
  tests/image/detection/test_output.py
  tests/image/segmentation/test_output.py
Labels: Data Pipeline V2, Refactor (Non-functional)

#939 Clean `Output`
  CHANGELOG.md
  docs/source/api/data.rst
  flash/audio/speech_recognition/model.py
  flash/core/data/io/output.py
  flash/core/model.py
  flash/core/utilities/types.py
  flash/image/classification/model.py
  flash/image/detection/model.py
  flash/image/segmentation/model.py
  flash/pointcloud/detection/model.py
  flash/pointcloud/segmentation/model.py
  flash/tabular/classification/model.py
  flash/tabular/regression/model.py
  flash/template/classification/model.py
  flash/text/classification/model.py
  flash/video/classification/model.py
  tests/core/data/io/test_output.py
Labels: Data Pipeline V2, Refactor (Functional)

#942 Rename postprocess -> output_transform
  CHANGELOG.md
  docs/source/api/audio.rst
  docs/source/api/data.rst
  docs/source/api/flash.rst
  docs/source/api/image.rst
  docs/source/api/tabular.rst
  docs/source/api/text.rst
  docs/source/general/data.rst
  docs/source/template/data.rst
  docs/source/template/optional.rst
  flash/__init__.py
  flash/audio/speech_recognition/data.py
  flash/core/data/batch.py
  flash/core/data/data_module.py
  flash/core/data/data_pipeline.py
  flash/core/data/io/output.py
  flash/core/data/io/output_transform.py
  flash/core/data/new_data_module.py
  flash/core/data/process.py
  flash/core/data/utils.py
  flash/core/model.py
  flash/core/serve/flash_components.py
  flash/core/utilities/types.py
  flash/image/face_detection/data.py
  flash/image/face_detection/model.py
  flash/image/instance_segmentation/data.py
  flash/image/instance_segmentation/model.py
  flash/image/segmentation/model.py
  flash/tabular/data.py
  flash/text/classification/data.py
  flash/text/question_answering/data.py
  flash/text/seq2seq/core/data.py
  flash/text/seq2seq/summarization/data.py
  flash/text/seq2seq/summarization/model.py
  flash/text/seq2seq/translation/data.py
  flash/text/seq2seq/translation/model.py
  flash_notebooks/image_classification.ipynb
  tests/audio/speech_recognition/test_model.py
  tests/core/data/io/test_output_transform.py
  tests/core/data/test_batch.py
  tests/core/data/test_data_pipeline.py
  tests/core/test_model.py
  tests/image/face_detection/test_model.py
  tests/text/classification/test_model.py
  tests/text/question_answering/test_data.py
  tests/text/seq2seq/core/test_data.py
  tests/text/seq2seq/summarization/test_data.py
  tests/text/seq2seq/summarization/test_model.py
  tests/text/seq2seq/translation/test_model.py
Labels: Data Pipeline V2, Refactor (Non-functional)

#946 simplify loading RGBA images
  CHANGELOG.md
  flash/audio/classification/data.py
  flash/core/data/utils.py
  flash/core/integrations/labelstudio/data_source.py
  flash/image/data.py
  flash/image/face_detection/data.py
  flash/image/segmentation/data.py
Labels: bug / fix, enhancement

#865 Update docstrings
  flash/graph/classification/model.py
  flash/image/detection/model.py
  flash/image/face_detection/model.py
  flash/image/instance_segmentation/model.py
  flash/image/keypoint_detection/model.py
  flash/pointcloud/detection/model.py
  flash/pointcloud/segmentation/model.py
Labels: documentation

#648 Deprecate text metrics
  CHANGELOG.md
  docs/source/api/text.rst
  flash/core/utilities/imports.py
  flash/text/question_answering/model.py
  flash/text/seq2seq/core/metrics.py
  flash/text/seq2seq/core/utils.py
  flash/text/seq2seq/summarization/model.py
  flash/text/seq2seq/translation/model.py
  requirements.txt
  requirements/datatype_text.txt
  tests/text/seq2seq/core/test_metrics.py
Labels: enhancement, refactors & code health

#953 Add new input classes in `input_base.py`
  docs/source/api/video.rst
  docs/source/template/data.rst
  flash/core/data/auto_dataset.py
  flash/core/data/data_module.py
  flash/core/data/data_pipeline.py
  flash/core/data/io/input_base.py
  flash/core/data/utilities/__init__.py
  flash/core/data/utilities/paths.py
  flash/core/integrations/fiftyone/utils.py
  flash/core/integrations/labelstudio/visualizer.py
  flash/core/model.py
  flash/core/utilities/flash_cli.py
  flash/core/utilities/lightning_cli.py
  flash/graph/classification/data.py
  flash/graph/data.py
  flash/video/classification/data.py
  flash_examples/video_classification.py
  tests/core/data/io/test_input_base.py
Labels: Data Pipeline V2, Refactor (Functional)

#959 Onboard point cloud inputs to new class
  flash/pointcloud/detection/data.py
  flash/pointcloud/detection/model.py
  flash/pointcloud/detection/open3d_ml/inputs.py
  flash/pointcloud/segmentation/data.py
  flash/pointcloud/segmentation/model.py
Labels: Data Pipeline V2, Refactor (Functional)

#966 drop params from hparams of Tab. forecasting
  flash/tabular/forecasting/model.py
Labels: bug / fix

#969 Fix DDP image classification
  CHANGELOG.md
  flash/image/classification/adapters.py
  flash/pointcloud/detection/open3d_ml/__init__.py
Labels: bug / fix

#971 Tabular data cleanup and new Input object
  flash/core/data/data_module.py
  flash/core/data/data_pipeline.py
  flash/core/data/io/input_base.py
  flash/core/data/properties.py
  flash/core/data/splits.py
  flash/core/model.py
  flash/tabular/classification/utils.py
  flash/tabular/data.py
  tests/core/data/test_splits.py
  tests/core/integrations/labelstudio/__init__.py
  tests/core/integrations/labelstudio/test_labelstudio.py
  tests/tabular/classification/test_data.py
  tests/tabular/classification/test_model.py
Labels: bug / fix, Data Pipeline V2, Refactor (Functional)

#970 Fix RTD build
  flash/core/data/io/input_base.py
Labels: bug / fix, documentation

#972 Onboard tabular forecasting to new input object
  flash/tabular/forecasting/cli.py
  flash/tabular/forecasting/data.py
Labels: Data Pipeline V2, Refactor (Functional)

#976 Change CI to use relative location of example files
  tests/examples/test_scripts.py
Labels: tests / CI

#978 Cleanup text classifier
  flash/text/classification/model.py
  tests/text/classification/test_model.py
Labels: Refactor (Functional)

#980 Improve CSV reading
  flash/core/data/io/input.py
  flash/core/data/utilities/paths.py
  flash/core/utilities/imports.py
  flash/core/utilities/types.py
  flash/tabular/data.py
  flash_examples/image_classification_multi_label.py
  flash_examples/tabular_regression.py
  requirements.txt
Labels: bug / fix, Refactor (Functional)

#975 Onboard speech recognition inputs to new object
  flash/audio/speech_recognition/cli.py
  flash/audio/speech_recognition/data.py
Labels: Data Pipeline V2, Refactor (Functional)

#830 Unified and Customizable Finetuning callback using hooks and registry.
  CHANGELOG.md
  docs/source/api/core.rst
  docs/source/api/text.rst
  docs/source/api/video.rst
  docs/source/general/finetuning.rst
  flash/core/finetuning.py
  flash/core/hooks.py
  flash/core/model.py
  flash/core/trainer.py
  flash/image/face_detection/model.py
  flash/pointcloud/segmentation/model.py
  flash/text/question_answering/finetuning.py
  flash/text/question_answering/model.py
  flash/text/seq2seq/__init__.py
  flash/text/seq2seq/core/__init__.py
  flash/text/seq2seq/core/finetuning.py
  flash/text/seq2seq/core/model.py
  flash/video/classification/model.py
  flash_examples/audio_classification.py
  flash_examples/integrations/fiftyone/image_classification.py
  flash_examples/integrations/fiftyone/image_classification_fiftyone_datasets.py
  flash_examples/integrations/labelstudio/image_classification.py
  flash_notebooks/image_classification.ipynb
  tests/core/test_finetuning.py
  tests/core/test_trainer.py
  tests/image/classification/test_model.py
  tests/image/segmentation/test_data.py
  tests/image/segmentation/test_model.py
Labels: enhancement

#989 Support for new icevision version (0.11.0)
  CHANGELOG.md
  flash/core/integrations/icevision/transforms.py
  flash/core/utilities/imports.py
Labels: enhancement

#992 GPU CI Improvements
  .azure-pipelines/gpu-example-tests.yml
  .azure-pipelines/gpu-special-tests.yml
  .azure-pipelines/testing-template.yml
  .gitignore
  CHANGELOG.md
  flash/core/finetuning.py
  flash/core/model.py
  flash/core/trainer.py
  flash/image/classification/model.py
  flash/text/classification/data.py
  flash/text/classification/model.py
  flash/text/seq2seq/summarization/model.py
  flash/text/seq2seq/translation/model.py
  flash_examples/integrations/learn2learn/image_classification_imagenette_mini.py
  flash_examples/summarization.py
  flash_examples/text_classification.py
  flash_examples/translation.py
  tests/examples/test_integrations.py
  tests/examples/test_scripts.py
  tests/examples/utils.py
Labels: bug / fix, enhancement, tests / CI

#990 add predict_kwargs in ObjectDetectionModel in order to filter the pre…
  CHANGELOG.md
  flash/core/integrations/icevision/adapter.py
  flash/image/detection/model.py
  flash/image/instance_segmentation/model.py
  flash/image/keypoint_detection/model.py
  tests/image/detection/test_model.py
Labels: enhancement

#994 Fix Flash Zero datamodule kwargs
  CHANGELOG.md
  flash/core/utilities/flash_cli.py
  flash/tabular/forecasting/cli.py
Labels: bug / fix

#995 Fix checkpointing bug in tabular forecasting
  CHANGELOG.md
  flash/core/integrations/pytorch_forecasting/adapter.py
  flash/tabular/forecasting/data.py
  flash/tabular/forecasting/model.py
Labels: bug / fix

#874 ASR HUGGINGFACE_BACKBONES use AutoModel
  CHANGELOG.md
  flash/audio/speech_recognition/backbone.py
  requirements/datatype_audio.txt
Labels: enhancement, Ready to Go

#997 Refactor image inputs and update to new input object
  CHANGELOG.md
  docs/source/api/data.rst
  docs/source/api/image.rst
  docs/source/template/data.rst
  flash/audio/classification/data.py
  flash/core/classification.py
  flash/core/data/data_module.py
  flash/core/data/io/classification_input.py
  flash/core/data/io/input.py
  flash/core/data/io/input_base.py
  flash/core/data/utilities/classification.py
  flash/core/data/utilities/data_frame.py
  flash/core/data/utilities/paths.py
  flash/core/data/utilities/samples.py
  flash/core/integrations/icevision/data.py
  flash/image/classification/adapters.py
  flash/image/classification/cli.py
  flash/image/classification/data.py
  flash/image/classification/integrations/baal/data.py
  flash/image/data.py
  flash/image/detection/output.py
  flash/image/face_detection/data.py
  flash/image/segmentation/data.py
  flash/image/style_transfer/cli.py
  flash/image/style_transfer/data.py
  flash/tabular/data.py
  flash/template/classification/data.py
  flash/text/classification/data.py
  flash/video/classification/data.py
  flash_examples/image_classification_multi_label.py
  tests/core/data/io/test_output.py
  tests/core/data/utilities/__init__.py
  tests/core/data/utilities/test_classification.py
  tests/core/test_model.py
  tests/image/classification/test_data.py
Labels: Data Pipeline V2, Refactor (Functional)

#982 fix missing extras
  setup.py
Labels: bug / fix
