Repository Lightning-Universe/lightning-flash, pull requests merged in 2021-03, with the labels that each got.

#149 Fix Embedder finetuning example
  docs/source/reference/image_embedder.rst
Labels: Ready to Go, documentation

#154 Fix vgg backbone num_features
  flash/vision/backbones.py
  tests/vision/test_backbones.py
Labels: Ready to Go, bug / fix

#138 Finetuning and training doc fixes
  docs/source/general/finetuning.rst
  docs/source/general/training.rst
Labels: documentation

#136 Fix Image Embedder docs
  docs/source/reference/image_embedder.rst
Labels: Ready to Go

#69 Docs fix
  docs/source/quickstart.rst
  docs/source/reference/summarization.rst
  docs/source/reference/translation.rst
Labels: documentation

#169 switch to torchmetrics
  README.md
  docs/source/reference/tabular_classification.rst
  flash/tabular/classification/model.py
  flash/text/classification/model.py
  flash/text/seq2seq/summarization/metric.py
  flash/text/seq2seq/translation/metric.py
  flash/vision/classification/model.py
  flash/vision/embedding/image_embedder_model.py
  flash_examples/finetuning/tabular_classification.py
  flash_examples/generic_task.py
  flash_notebooks/tabular_classification.ipynb
  requirements.txt
  tests/__init__.py
Labels: enhancement

#170 code cleaning
  README.md
  flash/core/data/utils.py
  flash/core/finetuning.py
  flash/core/trainer.py
  flash/tabular/classification/data/data.py
  flash/tabular/classification/data/dataset.py
  flash/text/classification/data.py
  flash/text/classification/model.py
  flash/text/seq2seq/core/data.py
  flash/vision/backbones.py
  flash/vision/classification/data.py
  flash/vision/detection/data.py
  flash/vision/detection/model.py
  flash/vision/embedding/image_embedder_model.py
  flash_examples/generic_task.py
  tests/vision/classification/test_data.py
Labels: enhancement, refactors and code health

#157 Add download support for tar.gz & don't download data if exists
  flash/core/data/utils.py
  flash_examples/generic_task.py
  tests/core/test_model.py
  tests/examples/test_scripts.py
Labels: bug / fix

#190 Docs/seo
  docs/source/conf.py
  flash/__init__.py
Labels: documentation

#133 Update lightning version to v1.2
  flash/core/finetuning.py
  flash/vision/detection/finetuning.py
  requirements.txt
  tests/__init__.py
  tests/core/test_model.py
Labels: Priority, bug / fix

#192 refactoring setup
  .github/workflows/ci-notebook.yml
  .github/workflows/ci-testing.yml
  .github/workflows/docs-check.yml
  .github/workflows/pypi-release.yml
  Makefile
  docs/source/conf.py
  flash/__init__.py
  flash/info.py
  flash/setup_tools.py
  flash/vision/classification/model.py
  setup.py
Labels: Ready to Go, enhancement, refactors and code health

#197 Rename `valid_` to `val_`
  README.md
  flash/data/data_module.py
  flash/data/process.py
  flash/tabular/classification/data/data.py
  flash/text/classification/data.py
  flash/text/seq2seq/core/data.py
  flash/text/seq2seq/summarization/data.py
  flash/text/seq2seq/translation/data.py
  flash/vision/classification/data.py
  flash/vision/classification/model.py
  flash/vision/detection/data.py
  flash/vision/embedding/model.py
  flash_examples/finetuning/image_classification.py
  flash_examples/finetuning/summarization.py
  flash_examples/finetuning/text_classification.py
  flash_examples/finetuning/translation.py
  flash_notebooks/image_classification.ipynb
  flash_notebooks/text_classification.ipynb
  tests/data/test_data_pipeline.py
  tests/tabular/data/test_data.py
  tests/tabular/test_data_model_integration.py
  tests/text/classification/test_data.py
  tests/text/summarization/test_data.py
  tests/text/translation/test_data.py
  tests/vision/classification/test_data.py
  tests/vision/detection/test_data.py
Labels: Ready to Go, refactors and code health
