Repository Lightning-Universe/lightning-flash, pull requests merged in 2021-06, with the labels that each got.

#371 Fix read the docs build
  docs/source/conf.py
Labels: documentation

#385 Bump version and update CHANGELOG
  CHANGELOG.md
  flash/__about__.py
Labels: enhancement

#389 Jit support
  CHANGELOG.md
  docs/source/general/jit.rst
  docs/source/index.rst
  flash/core/data/process.py
  flash/core/model.py
  flash/image/classification/model.py
  flash/image/detection/model.py
  flash/image/embedding/model.py
  flash/image/segmentation/model.py
  flash/tabular/classification/model.py
  flash/text/classification/model.py
  tests/image/classification/test_model.py
  tests/image/detection/test_model.py
  tests/image/embedding/__init__.py
  tests/image/embedding/test_model.py
  tests/image/segmentation/test_model.py
  tests/image/style_transfer/__init__.py
  tests/image/style_transfer/test_model.py
  tests/tabular/classification/test_model.py
  tests/template/classification/test_model.py
  tests/text/classification/test_model.py
  tests/text/seq2seq/core/__init__.py
  tests/text/seq2seq/summarization/test_model.py
  tests/text/seq2seq/translation/test_model.py
  tests/video/__init__.py
  tests/video/classification/__init__.py
  tests/video/classification/test_model.py
Labels: enhancement

#417 Small clean-up
  tests/conftest.py
  tests/core/serve/__init__.py
  tests/core/serve/data/cat.jpg
  tests/core/serve/data/fish.jpg
  tests/core/serve/data/imagenet_labels.txt
  tests/core/serve/data/number5.png
  tests/core/serve/models.py
  tests/core/serve/test_compat/__init__.py
  tests/core/serve/test_compat/test_cached_property.py
  tests/core/serve/test_components.py
  tests/core/serve/test_composition.py
  tests/core/serve/test_dag/NOTICE
  tests/core/serve/test_dag/__init__.py
  tests/core/serve/test_dag/test_optimization.py
  tests/core/serve/test_dag/test_order.py
  tests/core/serve/test_dag/test_rewrite.py
  tests/core/serve/test_dag/test_task.py
  tests/core/serve/test_dag/test_utils.py
  tests/core/serve/test_gridbase_validations.py
  tests/core/serve/test_integration.py
  tests/core/serve/test_types/__init__.py
  tests/core/serve/test_types/test_bbox.py
  tests/core/serve/test_types/test_image.py
  tests/core/serve/test_types/test_label.py
  tests/core/serve/test_types/test_number.py
  tests/core/serve/test_types/test_repeated.py
  tests/core/serve/test_types/test_table.py
  tests/core/serve/test_types/test_text.py
  tests/core/test_integrations.py
  tests/examples/test_integrations.py
Labels: refactors and code health

#433 Add assets to MANIFEST.in
  MANIFEST.in
Labels: bug / fix

#446 Update CHANGELOG and bump version
  CHANGELOG.md
  flash/__about__.py
Labels: documentation

#468 prune unused imports
  flash/core/data/data_module.py
  flash/core/data/properties.py
  flash/core/integrations/fiftyone/__init__.py
  flash/core/integrations/fiftyone/utils.py
  flash/core/serve/dag/visualize.py
  flash/core/serve/utils.py
  flash/core/utilities/apply_func.py
  flash/image/__init__.py
  flash/image/classification/__init__.py
  flash/image/detection/__init__.py
  flash/image/detection/data.py
  flash/image/detection/model.py
  flash/image/detection/serialization.py
  flash/image/embedding/__init__.py
  flash/image/segmentation/__init__.py
  flash/image/segmentation/data.py
  flash/image/segmentation/serialization.py
  flash/image/style_transfer/__init__.py
  flash/image/style_transfer/data.py
  flash/tabular/__init__.py
  flash/tabular/classification/__init__.py
  flash/template/__init__.py
  flash/template/classification/__init__.py
  flash/text/__init__.py
  flash/text/classification/__init__.py
  flash/text/seq2seq/__init__.py
  flash/text/seq2seq/core/__init__.py
  flash/text/seq2seq/summarization/__init__.py
  flash/text/seq2seq/translation/__init__.py
  flash/video/__init__.py
  flash/video/classification/data.py
  flash_examples/integrations/fiftyone/image_classification.py
  flash_examples/integrations/fiftyone/image_classification_fiftyone_datasets.py
  flash_examples/integrations/fiftyone/image_embedding.py
  flash_examples/predict/object_detection.py
  flash_examples/predict/text_classification.py
  flash_examples/serve/generic/boston_prediction/inference_server.py
  setup.cfg
  tests/core/data/test_auto_dataset.py
  tests/core/data/test_serialization.py
  tests/core/test_model.py
  tests/examples/utils.py
Labels: refactors & code health

#473 Better description of the metric arg
  flash/image/classification/model.py
  flash/image/detection/model.py
  flash/image/embedding/model.py
  flash/image/segmentation/model.py
  flash/tabular/classification/model.py
  flash/text/classification/model.py
  flash/text/seq2seq/core/model.py
  flash/text/seq2seq/summarization/model.py
  flash/text/seq2seq/translation/model.py
  flash/video/classification/model.py
Labels: documentation
