Repository Lightning-Universe/lightning-flash, pull requests merged in 2021-12, with the labels that each got.

#1010 DataPipeline Refactor V2: Simplify Input Transform
  CHANGELOG.md
  README.md
  docs/source/general/data.rst
  docs/source/integrations/icevision.rst
  docs/source/reference/image_classification.rst
  docs/source/reference/object_detection.rst
  docs/source/template/data.rst
  flash/audio/classification/transforms.py
  flash/core/data/base_viz.py
  flash/core/data/batch.py
  flash/core/data/callback.py
  flash/core/data/data_module.py
  flash/core/data/data_pipeline.py
  flash/core/data/io/input.py
  flash/core/data/io/input_transform.py
  flash/core/data/states.py
  flash/core/data/utils.py
  flash/core/integrations/icevision/transforms.py
  flash/graph/classification/data.py
  flash/image/classification/data.py
  flash/image/classification/transforms.py
  flash/image/embedding/model.py
  flash/image/face_detection/data.py
  flash/image/segmentation/data.py
  flash/image/segmentation/transforms.py
  flash/image/style_transfer/data.py
  flash/template/classification/data.py
  flash/text/classification/data.py
  flash/text/question_answering/data.py
  flash/video/classification/data.py
  flash_examples/integrations/learn2learn/image_classification_imagenette_mini.py
  tests/audio/classification/test_data.py
  tests/core/data/io/test_input_transform.py
  tests/core/data/test_base_viz.py
  tests/core/data/test_callback.py
  tests/core/data/test_callbacks.py
  tests/core/data/test_data_pipeline.py
  tests/core/data/test_transforms.py
  tests/graph/classification/test_data.py
  tests/image/classification/test_data.py
  tests/image/embedding/utils.py
  tests/image/segmentation/test_data.py
  tests/video/classification/test_model.py
Labels: Data Pipeline V2

#1014 Onboard audio inputs to new input object
  flash/audio/classification/data.py
Labels: Data Pipeline V2, Refactor (Functional)

#1015 Onboard segmentation inputs to new object
  docs/source/api/image.rst
  flash/core/data/data_module.py
  flash/core/data/utilities/paths.py
  flash/image/classification/data.py
  flash/image/data.py
  flash/image/segmentation/data.py
  flash/image/segmentation/model.py
  flash/image/segmentation/output.py
  flash_examples/semantic_segmentation.py
  tests/image/segmentation/test_data.py
  tests/image/segmentation/test_model.py
Labels: Data Pipeline V2, Refactor (Functional)

#1018 Data Pipeline V2: Cleanup
  CHANGELOG.md
  flash/core/integrations/icevision/data.py
  flash/core/model.py
  flash/core/utilities/flash_cli.py
  flash/graph/classification/data.py
  flash/image/classification/data.py
  flash/image/detection/data.py
  flash/image/instance_segmentation/cli.py
  flash/image/instance_segmentation/data.py
  flash/image/keypoint_detection/cli.py
  flash/image/keypoint_detection/data.py
  flash/tabular/data.py
  flash/tabular/forecasting/data.py
  flash/video/classification/data.py
  tests/audio/classification/test_data.py
  tests/image/classification/test_data.py
  tests/image/detection/test_data.py
  tests/image/instance_segmentation/test_data.py
  tests/image/instance_segmentation/test_model.py
  tests/image/keypoint_detection/test_data.py
Labels: Data Pipeline V2, Refactor (Functional)

#1013 Data Pipeline V2: Refactor Deserializer into Serve Input
  CHANGELOG.md
  flash/audio/speech_recognition/data.py
  flash/core/data/batch.py
  flash/core/data/data_pipeline.py
  flash/core/data/io/input_base.py
  flash/core/data/process.py
  flash/core/model.py
  flash/image/data.py
  flash/image/segmentation/data.py
  flash/tabular/data.py
  flash/text/classification/data.py
  tests/core/data/io/test_input_base.py
Labels: Data Pipeline V2

#1020 Fix subdir orderring
  flash/core/data/utilities/classification.py
  flash/core/data/utilities/paths.py
  flash/core/data/utilities/sort.py
  tests/image/classification/test_data.py
Labels: bug / fix, tests / CI

#1019 Cleanup rtd build env
  .readthedocs.yml
  docs/source/api/core.rst
  requirements/docs.txt
Labels: documentation

#1023 Data Pipeline Refactor: Improve InputTransform API
  docs/source/general/optimization.rst
  flash/__init__.py
  flash/core/data/base_viz.py
  flash/core/data/data_pipeline.py
  flash/core/data/datasets.py
  flash/core/data/input_transform.py
  flash/core/data/io/input_base.py
  flash/core/data/new_data_module.py
  flash/core/model.py
  flash/core/utilities/apply_func.py
  flash_examples/flash_components/custom_data_loading.py
  tests/core/data/test_data_pipeline.py
  tests/core/data/test_datasets.py
  tests/core/data/test_input_transform.py
  tests/core/data/test_new_data_module.py
Labels: Data Pipeline V2

#1029 Data Pipeline Refactor: Improve new DataModule
  flash/core/data/data_pipeline.py
  flash/core/data/input_transform.py
  flash/core/data/io/input_base.py
  flash/core/data/io/input_transform.py
  flash/core/data/new_data_module.py
  flash/core/data/utils.py
  flash_examples/flash_components/custom_data_loading.py
  tests/core/data/test_new_data_module.py
Labels: Data Pipeline V2

#1022 Onboard text classification inputs to new object
  .gitignore
  CHANGELOG.md
  docs/source/api/text.rst
  docs/source/template/data.rst
  flash/core/data/io/input.py
  flash/core/data/splits.py
  flash/core/integrations/labelstudio/input.py
  flash/image/classification/data.py
  flash/text/classification/cli.py
  flash/text/classification/data.py
  flash/text/classification/model.py
  flash/text/seq2seq/core/data.py
  flash_examples/text_classification.py
  flash_examples/text_classification_multi_label.py
  flash_notebooks/text_classification.ipynb
  tests/core/integrations/labelstudio/test_labelstudio.py
  tests/text/classification/test_data.py
  tests/text/classification/test_data_model_integration.py
  tests/text/classification/test_model.py
Labels: Data Pipeline V2, Refactor (Functional)

#1025 Data Pipeline Refactor: Convert ImageClassfication to the new API
  CHANGELOG.md
  README.md
  docs/source/common/finetuning_example.rst
  docs/source/common/training_example.rst
  docs/source/general/data.rst
  docs/source/reference/image_classification.rst
  docs/source/template/optional.rst
  flash/core/data/batch.py
  flash/core/data/data_module.py
  flash/core/data/data_pipeline.py
  flash/core/data/input_transform.py
  flash/core/data/io/input_base.py
  flash/core/data/io/input_transform.py
  flash/core/data/io/output_transform.py
  flash/core/data/new_data_module.py
  flash/core/data/properties.py
  flash/core/data/utils.py
  flash/core/model.py
  flash/core/utilities/flash_cli.py
  flash/core/utilities/types.py
  flash/image/classification/data.py
  flash/image/classification/input.py
  flash/image/classification/integrations/baal/data.py
  flash/image/classification/integrations/baal/dropout.py
  flash/image/classification/integrations/baal/loop.py
  flash/image/classification/model.py
  flash/image/classification/transforms.py
  flash/image/style_transfer/data.py
  flash/template/classification/model.py
  flash_examples/flash_components/custom_data_loading.py
  flash_examples/image_classification.py
  flash_examples/image_classification_multi_label.py
  flash_examples/integrations/baal/image_classification_active_learning.py
  flash_examples/integrations/fiftyone/image_classification.py
  flash_examples/template.py
  flash_notebooks/image_classification.ipynb
  tests/core/data/test_base_viz.py
  tests/core/data/test_callbacks.py
  tests/core/data/test_data_pipeline.py
  tests/core/data/test_new_data_module.py
  tests/core/integrations/labelstudio/test_labelstudio.py
  tests/core/integrations/vissl/test_transforms.py
  tests/image/classification/test_active_learning.py
  tests/image/classification/test_data.py
  tests/image/classification/test_data_model_integration.py
  tests/image/classification/test_model.py
  tests/image/classification/test_training_strategies.py
  tests/image/embedding/utils.py
Labels: Data Pipeline V2

#1033 add Kaggle links
  README.md
Labels: documentation

#1036 Data Pipeline Refactor: Move Image Object Detection to new DataModule
  docs/source/api/image.rst
  flash/core/data/input_transform.py
  flash/core/data/new_data_module.py
  flash/core/integrations/icevision/transforms.py
  flash/image/detection/cli.py
  flash/image/detection/data.py
  flash/image/detection/input.py
  tests/image/detection/test_data.py
  tests/image/detection/test_data_model_integration.py
Labels: Data Pipeline V2

#1038 Data Pipeline Refactor: Move SemanticSegmentation to new DataModule API
  docs/source/api/image.rst
  docs/source/template/data.rst
  flash/core/data/input_transform.py
  flash/core/data/new_data_module.py
  flash/image/classification/integrations/baal/data.py
  flash/image/segmentation/data.py
  flash/image/segmentation/input.py
  flash/image/segmentation/transforms.py
  flash/image/segmentation/viz.py
  flash/text/seq2seq/core/data.py
  flash/text/seq2seq/core/model.py
  flash_examples/semantic_segmentation.py
  tests/core/data/test_new_data_module.py
  tests/image/segmentation/test_data.py
  tests/image/segmentation/test_model.py
Labels: Data Pipeline V2

#1039 DataPipeline Refactor V2: Move Instance Segmentation to new DataModule
  flash/core/integrations/icevision/transforms.py
  flash/image/detection/data.py
  flash/image/instance_segmentation/__init__.py
  flash/image/instance_segmentation/cli.py
  flash/image/instance_segmentation/data.py
  flash/image/instance_segmentation/model.py
  tests/image/instance_segmentation/test_data.py
  tests/image/instance_segmentation/test_model.py
Labels: Data Pipeline V2

#1042 Data Pipeline V2: Move KeyPointDetection to the new DataModule
  docs/source/api/image.rst
  flash/image/keypoint_detection/data.py
  tests/image/keypoint_detection/test_data.py
Labels: Data Pipeline V2

#1044 Data Pipeline V2: Update Audio to new DataModule
  docs/source/api/audio.rst
  flash/audio/classification/data.py
  flash/audio/classification/input.py
  flash/audio/classification/input_transform.py
  flash/audio/speech_recognition/data.py
  flash/audio/speech_recognition/input.py
  flash/audio/speech_recognition/model.py
  flash/audio/speech_recognition/output_transform.py
  flash_examples/audio_classification.py
  flash_examples/speech_recognition.py
  tests/audio/classification/test_data.py
  tests/audio/speech_recognition/test_model.py
Labels: Data Pipeline V2

#1046 Drop old from_* methods and legacy CLI
  docs/source/template/data.rst
  flash/audio/classification/cli.py
  flash/core/data/batch.py
  flash/core/data/data_module.py
  flash/core/data/data_pipeline.py
  flash/core/data/input_transform.py
  flash/core/data/new_data_module.py
  flash/core/utilities/flash_cli.py
  flash/image/keypoint_detection/cli.py
  flash/image/segmentation/cli.py
  flash/template/classification/data.py
  flash_examples/template.py
  tests/core/data/io/test_input_transform.py
  tests/core/data/test_callback.py
  tests/core/data/test_callbacks.py
  tests/core/data/test_data_pipeline.py
  tests/core/data/test_new_data_module.py
  tests/template/classification/test_data.py
  tests/template/classification/test_model.py
Labels: Data Pipeline V2, Refactor (Non-functional)

#1050 Data Pipeline V2: Move Tabular Forecasting to the new API
  docs/source/api/tabular.rst
  flash/tabular/__init__.py
  flash/tabular/forecasting/data.py
  flash/tabular/forecasting/input.py
  flash_notebooks/tabular_classification.ipynb
  tests/tabular/forecasting/test_data.py
  tests/tabular/forecasting/test_model.py
Labels: Data Pipeline V2, Refactor (Functional)

#1047 Consolidate inputs and drop AutoDataset
  docs/source/api/data.rst
  docs/source/general/data.rst
  flash/audio/classification/data.py
  flash/audio/classification/input.py
  flash/audio/speech_recognition/data.py
  flash/audio/speech_recognition/input.py
  flash/core/adapter.py
  flash/core/data/auto_dataset.py
  flash/core/data/data_module.py
  flash/core/data/data_pipeline.py
  flash/core/data/io/classification_input.py
  flash/core/data/io/input.py
  flash/core/data/io/input_base.py
  flash/core/data/io/input_transform.py
  flash/core/data/new_data_module.py
  flash/core/data/process.py
  flash/core/integrations/icevision/adapter.py
  flash/core/integrations/icevision/data.py
  flash/core/integrations/labelstudio/input.py
  flash/core/model.py
  flash/graph/data.py
  flash/image/classification/adapters.py
  flash/image/classification/data.py
  flash/image/classification/integrations/baal/data.py
  flash/image/data.py
  flash/image/detection/data.py
  flash/image/face_detection/data.py
  flash/image/instance_segmentation/data.py
  flash/image/keypoint_detection/data.py
  flash/image/segmentation/data.py
  flash/image/segmentation/input.py
  flash/image/style_transfer/data.py
  flash/pointcloud/detection/data.py
  flash/pointcloud/detection/model.py
  flash/pointcloud/detection/open3d_ml/inputs.py
  flash/pointcloud/segmentation/data.py
  flash/pointcloud/segmentation/model.py
  flash/tabular/data.py
  flash/tabular/forecasting/data.py
  flash/tabular/forecasting/input.py
  flash/tabular/input.py
  flash/template/classification/data.py
  flash/text/question_answering/input.py
  flash/text/seq2seq/core/data.py
  flash/text/seq2seq/core/input.py
  flash/video/classification/data.py
  flash_examples/flash_components/custom_data_loading.py
  flash_examples/semantic_segmentation.py
  tests/core/data/io/test_input.py
  tests/core/data/io/test_input_base.py
  tests/core/data/io/test_input_transform.py
  tests/core/data/test_auto_dataset.py
  tests/core/data/test_callbacks.py
  tests/core/data/test_data_pipeline.py
  tests/core/data/test_new_data_module.py
Labels: Data Pipeline V2, Refactor (Non-functional)

#1051 Update text classification to new api
  docs/source/api/text.rst
  docs/source/quickstart.rst
  flash/core/integrations/transformers/input_transform.py
  flash/text/classification/cli.py
  flash/text/classification/data.py
  flash/text/classification/input.py
  flash/text/question_answering/input_transform.py
  flash/text/seq2seq/core/data.py
  flash_examples/text_classification.py
  flash_examples/text_embedder.py
  flash_notebooks/text_classification.ipynb
  tests/core/integrations/labelstudio/test_labelstudio.py
  tests/text/classification/test_model.py
  tests/text/embedding/test_model.py
  tests/text/seq2seq/summarization/test_model.py
  tests/text/seq2seq/translation/test_model.py
Labels: Data Pipeline V2, Refactor (Functional)

#1053 Move seq2seq output transform to it's own file
  docs/source/api/text.rst
  docs/source/template/data.rst
  flash/text/seq2seq/core/data.py
  flash/text/seq2seq/core/model.py
  flash/text/seq2seq/core/output_transform.py
  tests/text/seq2seq/summarization/test_model.py
  tests/text/seq2seq/translation/test_model.py
Labels: Data Pipeline V2, Refactor (Non-functional)

#1052 Data Pipeline v2: Move Video onto the new API
  docs/source/api/video.rst
  flash/video/classification/cli.py
  flash/video/classification/data.py
  flash/video/classification/input.py
  flash/video/classification/input_transform.py
  flash_examples/video_classification.py
  tests/core/integrations/labelstudio/test_labelstudio.py
  tests/video/classification/test_model.py
Labels: Data Pipeline V2, Refactor (Functional)

#1056 Create text_embedder.rst
  docs/source/index.rst
  docs/source/reference/text_embedder.rst
Labels: documentation

#1054 Update graph data to new API
  docs/source/api/graph.rst
  flash/core/data/input_transform.py
  flash/core/data/io/classification_input.py
  flash/core/data/utilities/classification.py
  flash/core/model.py
  flash/graph/classification/cli.py
  flash/graph/classification/data.py
  flash/graph/classification/input.py
  flash/graph/classification/input_transform.py
  flash/graph/classification/model.py
  flash/graph/embedding/model.py
  flash_examples/graph_classification.py
  flash_examples/graph_embedder.py
  tests/core/data/utilities/test_classification.py
  tests/graph/classification/test_data.py
  tests/graph/classification/test_model.py
  tests/graph/embedding/test_model.py
Labels: Data Pipeline V2, Refactor (Functional)

#1057 Update pointcloud to new API
  docs/source/api/pointcloud.rst
  flash/pointcloud/detection/cli.py
  flash/pointcloud/detection/data.py
  flash/pointcloud/detection/input.py
  flash/pointcloud/detection/open3d_ml/input.py
  flash/pointcloud/segmentation/cli.py
  flash/pointcloud/segmentation/data.py
  flash/pointcloud/segmentation/input.py
  flash_examples/pointcloud_detection.py
  flash_examples/pointcloud_segmentation.py
  tests/examples/test_scripts.py
  tests/pointcloud/detection/test_data.py
  tests/pointcloud/segmentation/test_data.py
Labels: Data Pipeline V2, Refactor (Functional)

#1058 Remove old input transform and data module
  docs/source/api/data.rst
  docs/source/api/flash.rst
  flash/__init__.py
  flash/audio/classification/data.py
  flash/audio/speech_recognition/data.py
  flash/core/data/batch.py
  flash/core/data/data_module.py
  flash/core/data/data_pipeline.py
  flash/core/data/input_transform.py
  flash/core/data/io/input.py
  flash/core/data/io/input_transform.py
  flash/core/data/new_data_module.py
  flash/core/data/utils.py
  flash/core/model.py
  flash/core/serve/flash_components.py
  flash/core/trainer.py
  flash/graph/classification/data.py
  flash/graph/classification/input.py
  flash/image/classification/data.py
  flash/image/classification/integrations/baal/data.py
  flash/image/detection/data.py
  flash/image/face_detection/data.py
  flash/image/instance_segmentation/data.py
  flash/image/keypoint_detection/data.py
  flash/image/segmentation/data.py
  flash/image/style_transfer/data.py
  flash/pointcloud/detection/data.py
  flash/pointcloud/segmentation/data.py
  flash/tabular/data.py
  flash/tabular/forecasting/data.py
  flash/template/classification/data.py
  flash/text/classification/data.py
  flash/text/input.py
  flash/text/question_answering/data.py
  flash/text/seq2seq/core/data.py
  flash/video/classification/data.py
  flash_examples/flash_components/custom_data_loading.py
  flash_examples/serve/image_classification/inference_server.py
  tests/audio/speech_recognition/test_model.py
  tests/core/data/io/test_input_transform.py
  tests/core/data/io/test_output.py
  tests/core/data/test_callback.py
  tests/core/data/test_callbacks.py
  tests/core/data/test_data_module.py
  tests/core/data/test_data_pipeline.py
  tests/core/data/test_input_transform.py
  tests/core/data/test_sampler.py
  tests/core/data/test_serialization.py
  tests/core/test_data.py
  tests/core/test_trainer.py
  tests/graph/classification/test_model.py
  tests/graph/embedding/test_model.py
  tests/image/classification/test_model.py
  tests/image/segmentation/test_model.py
  tests/tabular/classification/test_model.py
  tests/text/classification/test_model.py
  tests/text/seq2seq/summarization/test_model.py
  tests/text/seq2seq/translation/test_model.py
Labels: Data Pipeline V2, Refactor (Non-functional)

#1062 Refactor serving
  CHANGELOG.md
  flash/audio/speech_recognition/model.py
  flash/audio/speech_recognition/output_transform.py
  flash/core/data/batch.py
  flash/core/data/data_pipeline.py
  flash/core/model.py
  flash/core/serve/flash_components.py
  flash/core/trainer.py
  flash/image/classification/model.py
  flash/image/segmentation/model.py
  flash/tabular/classification/model.py
  flash/tabular/input.py
  flash/tabular/regression/model.py
  flash/text/classification/model.py
  flash/text/seq2seq/core/model.py
  flash_examples/serve/image_classification/inference_server.py
  tests/audio/speech_recognition/test_model.py
  tests/image/classification/test_model.py
  tests/image/segmentation/test_model.py
  tests/tabular/classification/test_model.py
  tests/text/classification/test_model.py
  tests/text/seq2seq/summarization/test_model.py
  tests/text/seq2seq/translation/test_model.py
Labels: Data Pipeline V2, Refactor (Functional)

#1063 Move input transform
  docs/source/api/data.rst
  docs/source/api/flash.rst
  docs/source/reference/image_classification.rst
  flash/__init__.py
  flash/audio/classification/data.py
  flash/audio/classification/input_transform.py
  flash/audio/speech_recognition/data.py
  flash/audio/speech_recognition/model.py
  flash/core/data/data_module.py
  flash/core/data/data_pipeline.py
  flash/core/data/input_transform.py
  flash/core/data/io/input.py
  flash/core/data/io/input_transform.py
  flash/core/integrations/icevision/transforms.py
  flash/core/integrations/transformers/input_transform.py
  flash/core/model.py
  flash/core/utilities/types.py
  flash/graph/classification/input_transform.py
  flash/image/classification/data.py
  flash/image/classification/transforms.py
  flash/image/face_detection/input_transform.py
  flash/image/segmentation/transforms.py
  flash/image/style_transfer/input_transform.py
  flash/pointcloud/detection/data.py
  flash/pointcloud/segmentation/data.py
  flash/tabular/classification/model.py
  flash/tabular/data.py
  flash/tabular/forecasting/data.py
  flash/tabular/regression/model.py
  flash/template/classification/data.py
  flash/video/classification/data.py
  flash/video/classification/input_transform.py
  flash_examples/flash_components/custom_data_loading.py
  tests/core/data/io/test_output.py
  tests/core/data/test_callback.py
  tests/core/data/test_callbacks.py
  tests/core/data/test_data_module.py
  tests/core/data/test_data_pipeline.py
  tests/core/data/test_input_transform.py
  tests/graph/classification/test_data.py
  tests/image/embedding/utils.py
Labels: Data Pipeline V2, Refactor (Non-functional)

#1066 Bump version to 0.7.0dev
  CHANGELOG.md
  docs/source/general/predictions.rst
  docs/source/quickstart.rst
  flash/__about__.py
  flash_examples/graph_embedder.py
  flash_examples/integrations/fiftyone/image_classification.py
  flash_examples/integrations/fiftyone/image_classification_fiftyone_datasets.py
  flash_examples/serve/image_classification/inference_server.py
  flash_examples/serve/semantic_segmentation/inference_server.py
  flash_examples/serve/speech_recognition/inference_server.py
  flash_examples/serve/summarization/inference_server.py
  flash_examples/serve/tabular_classification/inference_server.py
  flash_examples/serve/text_classification/inference_server.py
  flash_examples/serve/translation/inference_server.py
  flash_notebooks/image_classification.ipynb
  flash_notebooks/tabular_classification.ipynb
  tests/core/test_model.py
Labels: documentation

#1067 Fix tabular with embedding_sizes=None
  CHANGELOG.md
  flash/tabular/classification/model.py
  flash/tabular/regression/model.py
  tests/tabular/classification/test_model.py
Labels: bug / fix

#1073 Added references to object detection formats
  flash/image/detection/data.py
Labels: documentation

#1072 Fix object detection / keypoint detection / instance segmentation
  CHANGELOG.md
  flash/core/data/data_module.py
  flash/core/data/io/input_transform.py
  flash/image/detection/data.py
  flash/image/instance_segmentation/data.py
  flash/image/keypoint_detection/data.py
  flash/image/keypoint_detection/input_transform.py
  flash_examples/instance_segmentation.py
  flash_examples/integrations/fiftyone/object_detection.py
  flash_examples/keypoint_detection.py
  flash_examples/object_detection.py
  tests/examples/test_integrations.py
  tests/examples/test_scripts.py
Labels: bug / fix, documentation

#1076 Add support for space delimited multi-label targets
  CHANGELOG.md
  flash/core/data/utilities/classification.py
  flash/image/detection/data.py
  tests/core/data/utilities/test_classification.py
Labels: enhancement

#1075 speech recognition auto processor
  CHANGELOG.md
  flash/audio/speech_recognition/model.py
  requirements/datatype_audio.txt
  requirements/datatype_text.txt
Labels: enhancement

#1077 Fix / simplify default_uncollate
  CHANGELOG.md
  flash/core/data/batch.py
  flash/core/data/io/output_transform.py
  flash/core/integrations/icevision/adapter.py
  flash/core/integrations/icevision/transforms.py
  tests/core/data/test_batch.py
  tests/image/instance_segmentation/test_model.py
Labels: bug / fix
