Repository Lightning-Universe/lightning-flash, pull requests merged in 2021-02, with the labels that each got.

#39 improve finetuning
  .github/workflows/ci-notebook.yml
  CHANGELOG.md
  README.md
  flash/core/finetuning.py
  flash/core/model.py
  flash/core/trainer.py
  flash_examples/finetuning/image_classification.py
  flash_examples/finetuning/text_classification.py
  flash_notebooks/finetuning/image_classification.ipynb
  flash_notebooks/finetuning/text_classification.ipynb
  tests/core/test_finetuning.py
  tests/core/test_trainer.py
Labels: enhancement

#37 Added Seq2Seq tasks
  docs/source/_templates/theme_variables.jinja
  docs/source/index.rst
  docs/source/reference/summarization.rst
  docs/source/reference/text_classification.rst
  docs/source/reference/translation.rst
  flash/core/finetuning.py
  flash/core/model.py
  flash/core/trainer.py
  flash/text/__init__.py
  flash/text/seq2seq/__init__.py
  flash/text/seq2seq/core/__init__.py
  flash/text/seq2seq/core/data.py
  flash/text/seq2seq/core/finetuning.py
  flash/text/seq2seq/core/model.py
  flash/text/seq2seq/summarization/__init__.py
  flash/text/seq2seq/summarization/data.py
  flash/text/seq2seq/summarization/metric.py
  flash/text/seq2seq/summarization/model.py
  flash/text/seq2seq/summarization/utils.py
  flash/text/seq2seq/translation/__init__.py
  flash/text/seq2seq/translation/data.py
  flash/text/seq2seq/translation/metric.py
  flash/text/seq2seq/translation/model.py
  flash/vision/classification/model.py
  flash_examples/finetuning/summarization.py
  flash_examples/finetuning/translation.py
  flash_examples/predict/summarize.py
  flash_examples/predict/translate.py
  flash_notebooks/generic_task.ipynb
  flash_notebooks/image_classification.ipynb
  flash_notebooks/text_classification.ipynb
  requirements.txt
  tests/core/test_finetuning.py
  tests/core/test_model.py
  tests/core/test_trainer.py
  tests/text/summarization/__init__.py
  tests/text/summarization/test_data.py
  tests/text/summarization/test_model.py
  tests/text/translation/__init__.py
  tests/text/translation/test_data.py
  tests/text/translation/test_model.py
  tests/vision/classification/test_model.py
Labels: enhancement, task

#24 Another pass at docs
  docs/source/custom_task.rst
  docs/source/general/finetuning.rst
  docs/source/general/predictions.rst
  docs/source/general/training.rst
  docs/source/quickstart.rst
  docs/source/reference/flash_to_pl.rst
  docs/source/reference/image_classification.rst
  docs/source/reference/tabular_classification.rst
  docs/source/reference/task.rst
  docs/source/reference/text_classification.rst
Labels: documentation

#42 Custom Task Tutorial
  docs/source/custom_task.rst
  docs/source/general/data.rst
  flash_notebooks/custom_task_tutorial.ipynb
Labels: documentation, task

#52 CI: update docs
  .github/workflows/docs-check.yml
  docs/source/conf.py
  flash/__init__.py
  requirements.txt
Labels: bug / fix

#45 Add support for more backbones(mobilnet, vgg, densenet, resnext) & refactor
  flash/vision/classification/backbones.py
  flash/vision/classification/model.py
Labels: backbone

#61 clean imports
  flash/core/classification.py
  flash/core/data/datamodule.py
  flash/core/data/utils.py
  flash/core/model.py
  flash/text/seq2seq/core/data.py
  flash/vision/classification/model.py
  flash/vision/embedding/image_embedder_model.py
  flash/vision/embedding/model_map.py
  tests/core/test_finetuning.py
  tests/core/test_model.py
  tests/core/test_trainer.py
Labels: bug / fix

#58 fix docs
  docs/source/conf.py
  docs/source/custom_task.rst
  docs/source/installation.md
  docs/source/quickstart.rst
  docs/source/reference/image_classification.rst
  docs/source/reference/image_embedder.rst
  docs/source/reference/tabular_classification.rst
Labels: documentation

#57 simplify examples
  flash/core/data/datamodule.py
  flash_examples/finetuning/image_classification.py
  flash_examples/finetuning/summarization.py
  flash_examples/finetuning/tabular_classification.py
  flash_examples/finetuning/text_classification.py
  flash_examples/finetuning/translation.py
  flash_examples/predict/classify_image.py
  flash_examples/predict/classify_tabular.py
  flash_examples/predict/classify_text.py
  flash_examples/predict/image_embedder.py
  flash_examples/predict/summarize.py
  flash_examples/predict/translate.py
  tests/core/test_data.py
Labels: documentation

#60 add copy to examples
  flash_examples/finetuning/image_classification.py
  flash_examples/finetuning/summarization.py
  flash_examples/finetuning/tabular_classification.py
  flash_examples/finetuning/text_classification.py
  flash_examples/finetuning/translation.py
  flash_examples/generic_task.py
  flash_examples/predict/classify_image.py
  flash_examples/predict/classify_tabular.py
  flash_examples/predict/classify_text.py
  flash_examples/predict/image_embedder.py
  flash_examples/predict/summarize.py
  flash_examples/predict/translate.py
Labels: documentation

#59 increase coverage
  .gitignore
  flash/text/seq2seq/summarization/metric.py
  flash/vision/classification/backbones.py
  flash/vision/classification/dataset.py
  flash/vision/embedding/__init__.py
  flash/vision/embedding/image_embedder_model.py
  flash/vision/embedding/model_map.py
  tests/vision/test_download.py
Labels: enhancement, task

#64 update install instructions
  README.md
Labels: documentation

#63 Add backbones for image embedding model
  flash/vision/backbones.py
  flash/vision/classification/model.py
  flash/vision/embedding/image_embedder_model.py
Labels: enhancement

#65 Fixes for translation docs
  docs/source/reference/summarization.rst
  docs/source/reference/translation.rst
  flash/text/seq2seq/summarization/model.py
  flash/text/seq2seq/summarization/utils.py
  flash/text/seq2seq/translation/model.py
  requirements.txt
Labels: documentation

#81 Use functools.wraps for wrapper
  flash/core/model.py
Labels: enhancement

#66 Update image_classification.rst
  docs/source/reference/image_classification.rst
Labels: documentation

#88 Remove redundant `num_features` arg from Classification model
  flash/vision/classification/model.py
Labels: enhancement

#90 Add hints for tabular
  flash/tabular/classification/data/data.py
  flash/tabular/classification/data/dataset.py
Labels: enhancement

#94 Fixes wrong label in FilePathDataset
  flash/vision/classification/data.py
Labels: bug / fix

#78 doc_fix: incorrect numbering on finetuning quickstart
  README.md
Labels: documentation

#86 move classification integration from vision root to folder
  tests/vision/classification/test_data_model_integration.py
Labels: enhancement

#56 feat: Add Detection Task
  flash/core/finetuning.py
  flash/vision/__init__.py
  flash/vision/detection/__init__.py
  flash/vision/detection/data.py
  flash/vision/detection/finetuning.py
  flash/vision/detection/model.py
  flash_examples/finetuning/image_detection.py
  requirements.txt
  tests/vision/detection/test_data.py
  tests/vision/detection/test_data_model_integration.py
Labels: task

#54 Update Links
  docs/source/_templates/theme_variables.jinja
Labels: documentation

#98 Fix docs for image classification and embedding
  docs/source/reference/image_classification.rst
  docs/source/reference/image_embedder.rst
  flash/vision/classification/data.py
  flash/vision/classification/model.py
  flash/vision/embedding/image_embedder_model.py
Labels: documentation

#107 Use cached datasets in GitHub Actions
  .github/workflows/ci-testing.yml
  tests/examples/test_examples.py
Labels: enhancement

#110 fixing sphinx CI
  .github/workflows/docs-check.yml
Labels: documentation

#105 [RFC] Add source code to the docs
  docs/source/conf.py
Labels: documentation, enhancement

#111 Add description for Detection
  docs/source/index.rst
  docs/source/reference/object_detection.rst
  flash/vision/detection/model.py
Labels: documentation

#112 Update Changelog
  CHANGELOG.md
  flash/__init__.py
Labels: documentation

#113 Minor fixes for image embedder
  docs/source/reference/image_embedder.rst
Labels: documentation

#109 fix: set inputs as optional
  flash/tabular/classification/data/data.py
  tests/tabular/data/test_data.py
Labels: enhancement

#121 feat: Add Retinanet and backbones for detection
  CHANGELOG.md
  docs/source/reference/object_detection.rst
  flash/vision/backbones.py
  flash/vision/classification/model.py
  flash/vision/detection/model.py
  flash/vision/embedding/image_embedder_model.py
  tests/vision/detection/test_data_model_integration.py
  tests/vision/detection/test_model.py
  tests/vision/test_backbones.py
Labels: backbone, enhancement

#62 try minimal requirements
  .github/workflows/ci-testing.yml
  requirements.txt
  tests/examples/test_scripts.py
Labels: enhancement

#127 Update Code Owners ⚓
  .github/CODEOWNERS
Labels: enhancement
