Repository Lightning-Universe/lightning-flash, pull requests merged in 2021-04, with the labels that each got.

#196 timm integration
  flash/utils/imports.py
  flash/vision/backbones.py
  requirements/extras.txt
  tests/vision/test_backbones.py
Labels: enhancement

#207 [doc] Add DataPipeline + Callbacks + Registry
  .github/workflows/ci-testing.yml
  docs/source/custom_task.rst
  docs/source/general/callback.rst
  docs/source/general/data.rst
  docs/source/general/registry.rst
  docs/source/index.rst
  flash/__init__.py
  flash/core/model.py
  flash/core/registry.py
  flash/data/base_viz.py
  flash/data/callback.py
  flash/data/data_module.py
  flash/data/data_pipeline.py
  flash/data/process.py
  flash/data/utils.py
  flash/vision/backbones.py
  flash_examples/custom_task.py
  flash_notebooks/custom_task_tutorial.ipynb
  flash_notebooks/image_classification.ipynb
  requirements.txt
  setup.py
  tests/core/test_model.py
  tests/core/test_trainer.py
  tests/data/test_callbacks.py
  tests/data/test_data_pipeline.py
  tests/data/test_serialization.py
  tests/examples/test_scripts.py
Labels: documentation

#222 set Bolts minimal
  requirements.txt
Labels: enhancement

#220 Fix typo in data_pipeline
  flash/data/data_pipeline.py
Labels: refactors and code health

#225 rename about
  .github/CODEOWNERS
  docs/source/conf.py
  flash/__about__.py
  flash/__init__.py
  setup.py
Labels: refactors and code health

#237 Catch URLError
  CHANGELOG.md
  flash/vision/backbones.py
  flash/vision/detection/model.py
  tests/vision/test_backbones.py
Labels: bug / fix

#249 Fix a bug in seq2seq
  flash/text/seq2seq/core/data.py
Labels: bug / fix

#248 Update setup.py and conf.py
  docs/source/conf.py
  setup.py
Labels: bug / fix
