Repository Lightning-Universe/lightning-flash, pull requests merged in 2021-07, with the labels that each got.

#553 Add logo_light.svg
  docs/source/_static/images/logo_light.svg
Labels: documentation, enhancement

#355 Improve data docs
  .gitignore
  docs/source/general/data.rst
  flash/core/data/process.py
Labels: documentation

#564 Pin sphinx version for now
  requirements/docs.txt
Labels: documentation

#560 Pretrained flag and resnet50 pretrained weights
  CHANGELOG.md
  docs/source/template/backbones.rst
  flash/image/backbones.py
  flash/image/classification/model.py
  tests/image/test_backbones.py
Labels: enhancement

#567 Adding QuestionAnsweringTask class to the question answering task
  flash/text/__init__.py
  flash/text/seq2seq/__init__.py
  flash/text/seq2seq/question_answering/__init__.py
  flash/text/seq2seq/question_answering/model.py
  tests/text/seq2seq/question_answering/test_model.py
Labels: Question Answering, Task-a-thon

#555 [docs] Reorganise API Reference
  .gitignore
  Makefile
  docs/source/_static/main.css
  docs/source/_templates/classtemplate.rst
  docs/source/api/core.rst
  docs/source/api/data.rst
  docs/source/api/flash.rst
  docs/source/api/image.rst
  docs/source/api/serve.rst
  docs/source/api/tabular.rst
  docs/source/api/text.rst
  docs/source/api/video.rst
  docs/source/code/core.rst
  docs/source/code/data.rst
  docs/source/code/image.rst
  docs/source/code/tabular.rst
  docs/source/code/text.rst
  docs/source/code/video.rst
  docs/source/conf.py
  docs/source/general/callback.rst
  docs/source/general/predictions.rst
  docs/source/general/serve.rst
  docs/source/index.rst
  docs/source/integrations/fiftyone.rst
  docs/source/reference/image_classification.rst
  docs/source/reference/semantic_segmentation.rst
  docs/source/reference/summarization.rst
  docs/source/reference/tabular_classification.rst
  docs/source/reference/text_classification.rst
  docs/source/reference/translation.rst
  flash/core/data/callback.py
  flash/core/finetuning.py
  flash/core/registry.py
  flash/core/trainer.py
  flash/core/utilities/imports.py
  flash/text/seq2seq/question_answering/model.py
Labels: documentation

#573 Add an audio dependency(Asteroid)
  README.md
  flash/core/utilities/imports.py
  requirements/datatype_audio.txt
  setup.py
Labels: enhancement

#73 Pytorch Geometric integration
  .github/workflows/ci-testing.yml
  .gitignore
  CHANGELOG.md
  docs/source/api/graph.rst
  docs/source/index.rst
  docs/source/reference/graph_classification.rst
  flash/core/utilities/imports.py
  flash/graph/__init__.py
  flash/graph/classification/__init__.py
  flash/graph/classification/data.py
  flash/graph/classification/model.py
  flash/graph/data.py
  flash_examples/graph_classification.py
  requirements/datatype_graph.txt
  setup.py
  tests/examples/test_scripts.py
  tests/graph/__init__.py
  tests/graph/classification/__init__.py
  tests/graph/classification/test_data.py
  tests/graph/classification/test_model.py
  tests/helpers/utils.py
Labels: enhancement, task

#566 [Feat] Add PointCloud Segmentation
  .github/workflows/ci-testing.yml
  .gitignore
  CHANGELOG.md
  README.md
  docs/source/api/pointcloud.rst
  docs/source/index.rst
  docs/source/reference/pointcloud_segmentation.rst
  flash/core/data/batch.py
  flash/core/data/data_module.py
  flash/core/data/process.py
  flash/core/data/states.py
  flash/core/model.py
  flash/core/utilities/imports.py
  flash/image/classification/data.py
  flash/pointcloud/__init__.py
  flash/pointcloud/segmentation/__init__.py
  flash/pointcloud/segmentation/backbones.py
  flash/pointcloud/segmentation/data.py
  flash/pointcloud/segmentation/datasets.py
  flash/pointcloud/segmentation/model.py
  flash/pointcloud/segmentation/open3d_ml/__init__.py
  flash/pointcloud/segmentation/open3d_ml/app.py
  flash/pointcloud/segmentation/open3d_ml/backbones.py
  flash/pointcloud/segmentation/open3d_ml/sequences_dataset.py
  flash_examples/pointcloud_segmentation.py
  flash_examples/visualizations/pointcloud_segmentation.py
  requirements.txt
  requirements/datatype_pointcloud.txt
  setup.py
  tests/examples/test_scripts.py
  tests/helpers/utils.py
  tests/pointcloud/segmentation/test_data.py
  tests/pointcloud/segmentation/test_model.py
Labels: API / design

#586 Add Speech Recognition Task (Wav2Vec)
  CHANGELOG.md
  docs/source/api/audio.rst
  docs/source/index.rst
  docs/source/reference/speech_recognition.rst
  flash/assets/example.wav
  flash/audio/__init__.py
  flash/audio/speech_recognition/__init__.py
  flash/audio/speech_recognition/backbone.py
  flash/audio/speech_recognition/collate.py
  flash/audio/speech_recognition/data.py
  flash/audio/speech_recognition/model.py
  flash/core/data/batch.py
  flash/core/data/process.py
  flash/core/utilities/imports.py
  flash_examples/serve/speech_recognition/client.py
  flash_examples/serve/speech_recognition/inference_server.py
  flash_examples/speech_recognition.py
  requirements/datatype_audio.txt
  tests/audio/speech_recognition/__init__.py
  tests/audio/speech_recognition/test_data.py
  tests/audio/speech_recognition/test_data_model_integration.py
  tests/audio/speech_recognition/test_model.py
  tests/core/data/test_data_pipeline.py
  tests/examples/test_scripts.py
Labels: Task-a-thon, enhancement, task

#604 upgrade pytorchvideo to 0.1.2
  flash/video/classification/data.py
  requirements/datatype_video.txt
Labels: enhancement

#609 Fixes for Wav2Vec example
  flash_examples/speech_recognition.py
Labels: bug / fix

#625 Change README docs link to point to stable rather than latest
  README.md
Labels: documentation
