Repository Lightning-Universe/lightning-flash, pull requests merged in 2021-01, with the labels that each got.

#6 upgrade docs
  docs/source/conf.py
  requirements/docs.txt
Labels: bug / fix, documentation

#5 Newdocs
  docs/source/_static/images/flash_icon.png
  docs/source/conf.py
  docs/source/custom_task.rst
  docs/source/index.rst
  docs/source/quickstart.rst
  docs/source/reference/image_classification.rst
  docs/source/reference/predictions.rst
  docs/source/reference/tabular.rst
  docs/source/reference/tabular_classification.rst
  docs/source/reference/text.rst
  docs/source/reference/text_classification.rst
  docs/source/reference/training.rst
  docs/source/reference/vision.rst
Labels: documentation

#8 add badges
  .github/workflows/ci-testing.yml
  README.md
Labels: documentation

#18 fix docs references
  .github/workflows/docs-deploy.yml
  docs/source/conf.py
  docs/source/general/data.rst
  docs/source/general/model.rst
  docs/source/general/predictions.rst
  docs/source/general/training.rst
  docs/source/index.rst
  docs/source/quickstart.rst
  docs/source/reference/tabular_classification.rst
Labels: bug / fix, documentation

#20 Fix Logo + Favicon
  docs/source/_images/flash_logo.png
  docs/source/_images/lightning_logo.svg
  docs/source/_static/images/flash_icon.png
  docs/source/_static/images/icon.svg
  docs/source/_static/images/logo.svg
  docs/source/conf.py
Labels: bug / fix

#22 fix read-the-docs
  .readthedocs.yml
  docs/source/conf.py
  requirements.txt
Labels: bug / fix, documentation

#27 CI: add test docs
  .github/workflows/docs-check.yml
  docs/source/custom_task.rst
  docs/source/general/training.rst
  docs/source/quickstart.rst
  docs/source/reference/tabular_classification.rst
Labels: documentation, enhancement

#28 some typing
  flash/__init__.py
  flash/core/data/datamodule.py
  flash/core/data/utils.py
  flash/core/model.py
  flash/core/trainer.py
  flash/tabular/classification/data/data.py
  flash/tabular/classification/data/dataset.py
  flash/tabular/classification/model.py
  flash/text/classification/model.py
  flash/vision/classification/data.py
  flash/vision/classification/model.py
  flash/vision/detection/model.py
  setup.cfg
Labels: enhancement
