Repository Lightning-Universe/lightning-flash, pull requests merged in 2021-05, with the labels that each got.

#221 fix doc string example in TranslationData
  flash/text/seq2seq/translation/data.py
Labels: Ready to Go, documentation

#269 Fix slack link
  .github/CONTRIBUTING.md
  README.md
  docs/source/quickstart.rst
  flash_notebooks/custom_task_tutorial.ipynb
  flash_notebooks/generic_task.ipynb
  flash_notebooks/image_classification.ipynb
  flash_notebooks/tabular_classification.ipynb
  flash_notebooks/text_classification.ipynb
Labels: documentation

#268 Pin `sphinx<4.0`
  requirements/docs.txt
Labels: bug / fix, tests / CI

#267 [RFC] ci: Add direct link to generated docs
  .github/workflows/docs-link.yml
Labels: tests / CI

#283 add object detection prediction example and fix batch
  flash/data/batch.py
  flash_examples/predict/image_embedder.py
  flash_examples/predict/object_detection.py
  tests/data/test_batch.py
Labels: enhancement

#286 Fixed typo on spelling of semantic_segmentation
  docs/source/reference/semantic_segmentation.rst
Labels: documentation

#291 Add timm reference in README.md
  README.md
Labels: documentation

#293 Docs cleanup and migrate to testcode
  docs/source/common/finetuning_example.rst
  docs/source/common/image_backbones.rst
  docs/source/common/object_detection_backbones.rst
  docs/source/common/training_example.rst
  docs/source/conf.py
  docs/source/custom_task.rst
  docs/source/general/callback.rst
  docs/source/general/finetuning.rst
  docs/source/general/registry.rst
  docs/source/general/training.rst
  docs/source/quickstart.rst
  docs/source/reference/flash_to_pl.rst
  docs/source/reference/image_classification.rst
  docs/source/reference/image_embedder.rst
  docs/source/reference/multi_label_classification.rst
  docs/source/reference/object_detection.rst
  docs/source/reference/semantic_segmentation.rst
  docs/source/reference/summarization.rst
  docs/source/reference/tabular_classification.rst
  docs/source/reference/task.rst
  docs/source/reference/text_classification.rst
  docs/source/reference/translation.rst
  docs/source/reference/video_classification.rst
  flash_examples/custom_task.py
Labels: documentation

#296 Fix summarization postprocess backbone
  CHANGELOG.md
  flash/text/seq2seq/core/data.py
  flash/text/seq2seq/summarization/data.py
  tests/text/summarization/test_data.py
Labels: bug / fix

#288 Add GPU testing with Azure Pipelines
  .azure-pipelines/gpu-tests.yml
  requirements/test.txt
Labels: tests / CI

#303 Fix doctests
  docs/source/common/finetuning_example.rst
  docs/source/common/training_example.rst
  docs/source/custom_task.rst
  docs/source/quickstart.rst
Labels: bug / fix, documentation, tests / CI

#309 Adds some missing tests
  .github/workflows/docs-check.yml
  docs/source/common/finetuning_example.rst
  docs/source/custom_task.rst
  docs/source/reference/style_transfer.rst
  flash/core/data/transforms.py
  flash/image/classification/data.py
  tests/data/test_transforms.py
  tests/image/classification/test_data.py
Labels: tests / CI

#302 Update GHA labeler
  .github/labeler.yml
Labels: tests / CI

#317 Exclude `tests` directory from distribution
  setup.py
Labels: tests / CI

#308 [CI] Add convergence test
  .azure-pipelines/gpu-tests.yml
  flash/core/model.py
  flash/core/trainer.py
  flash/image/classification/model.py
  flash/image/detection/model.py
  flash/image/segmentation/model.py
  flash/image/segmentation/transforms.py
  flash/tabular/classification/model.py
  flash/text/classification/data.py
  flash/text/classification/model.py
  flash/text/seq2seq/core/data.py
  flash/text/seq2seq/summarization/model.py
  flash/text/seq2seq/translation/model.py
  flash/video/classification/model.py
  flash_examples/finetuning/object_detection.py
  flash_examples/finetuning/translation.py
  flash_examples/finetuning/video_classification.py
Labels: tests / CI

#318 Update data docs
  docs/source/general/data.rst
Labels: documentation

#301 Minor doc fixes
  docs/source/_templates/theme_variables.jinja
  docs/source/general/training.rst
  docs/source/quickstart.rst
  docs/source/reference/flash_to_pl.rst
  flash/core/data/data_pipeline.py
  flash/core/data/process.py
  flash/core/model.py
  flash/core/trainer.py
  flash_examples/generic_task.py
  flash_notebooks/custom_task_tutorial.ipynb
  flash_notebooks/tabular_classification.ipynb
Labels: documentation

#325 Switch GPU tests just to PRs, fixes coverage problems
  .azure-pipelines/gpu-tests.yml
  tests/examples/test_scripts.py
Labels: tests / CI

#327 Update README.md with the installation of extra packages
  README.md
Labels: documentation

#337 [docs] Fix CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: documentation

#340 Update sphinx version
  .circleci/config.yml
  requirements/docs.txt
Labels: documentation, enhancement

#339 Make setup.py independent of flash
  setup.cfg
  setup.py
Labels: bug / fix

#336 [RFC] Add nbstripout to pre-commit hooks
  .pre-commit-config.yaml
Labels: tests / CI

#333 Run tests on GPUs nightly only
  .azure-pipelines/gpu-tests.yml
Labels: tests / CI

#343 Override `add_argparse_args` in the `FlashTrainer`
  CHANGELOG.md
  flash/core/trainer.py
  tests/core/test_trainer.py
Labels: bug / fix

#344 [docs] Update sphinx version in conf.py
  docs/source/conf.py
Labels: documentation

#345 [docs] Fix link to PL contributor guideline
  .github/CONTRIBUTING.md
Labels: documentation

#347 change Module not found error to a more verbose pip install command
  flash/image/detection/model.py
  flash/image/embedding/model.py
  flash/image/segmentation/data.py
  flash/image/segmentation/model.py
  flash/image/style_transfer/model.py
  flash/tabular/classification/model.py
  flash/text/classification/data.py
  flash/text/classification/model.py
  flash/text/seq2seq/core/data.py
  flash/text/seq2seq/core/model.py
  flash/text/seq2seq/summarization/metric.py
Labels: Ready to Go, documentation, enhancement

#346 [RFC] Change installation for extra packages
  .azure-pipelines/gpu-tests.yml
  .circleci/config.yml
  .github/workflows/ci-testing.yml
  .github/workflows/docs-check.yml
  .github/workflows/docs-deploy.yml
  CHANGELOG.md
  README.md
  docs/source/installation.md
  requirements/devel.txt
  setup.py
Labels: enhancement
