Repository Lightning-Universe/lightning-flash, pull requests merged in 2021-08, with the labels that each got.

#635 use Black docs
  .pre-commit-config.yaml
  README.md
  docs/source/common/finetuning_example.rst
  docs/source/common/training_example.rst
  docs/source/custom_task.rst
  docs/source/general/data.rst
  docs/source/general/finetuning.rst
  docs/source/general/predictions.rst
  docs/source/general/registry.rst
  docs/source/quickstart.rst
  docs/source/template/tests.rst
  flash/core/serve/types/image.py
Labels: documentation, refactors & code health

#620 Document custom image transformations
  docs/source/reference/image_classification.rst
Labels: documentation

#657 prune requirements
  requirements.txt
Labels: enhancement

#658 pre-commit: pyupgrade
  .pre-commit-config.yaml
  docs/source/conf.py
  flash/core/data/data_source.py
  flash/core/data/transforms.py
  flash/core/serve/component.py
  flash/core/serve/dag/rewrite.py
  flash/core/serve/dag/task.py
  flash/core/serve/types/label.py
  flash/core/serve/types/repeated.py
  flash/image/classification/backbones/resnet.py
  flash/image/detection/serialization.py
  flash/image/segmentation/data.py
  flash/pointcloud/detection/open3d_ml/data_sources.py
  flash/pointcloud/segmentation/open3d_ml/sequences_dataset.py
  flash/setup_tools.py
  flash/text/seq2seq/core/metrics.py
  flash/video/classification/data.py
  tests/core/serve/test_dag/test_order.py
  tests/examples/utils.py
  tests/image/test_backbones.py
Labels: enhancement

#661 Drop broken sphinx docs build
  .github/workflows/docs-check.yml
Labels: documentation, tests / CI

#638 examples: set gpus=device_count
  README.md
  docs/source/common/finetuning_example.rst
  docs/source/common/training_example.rst
  docs/source/custom_task.rst
  flash_examples/audio_classification.py
  flash_examples/custom_task.py
  flash_examples/graph_classification.py
  flash_examples/image_classification.py
  flash_examples/image_classification_multi_label.py
  flash_examples/integrations/fiftyone/image_classification.py
  flash_examples/integrations/fiftyone/image_classification_fiftyone_datasets.py
  flash_examples/object_detection.py
  flash_examples/pointcloud_detection.py
  flash_examples/pointcloud_segmentation.py
  flash_examples/semantic_segmentation.py
  flash_examples/speech_recognition.py
  flash_examples/style_transfer.py
  flash_examples/tabular_classification.py
  flash_examples/template.py
  flash_examples/text_classification.py
  flash_examples/text_classification_multi_label.py
  flash_examples/translation.py
  flash_examples/video_classification.py
  flash_examples/visualizations/pointcloud_detection.py
  flash_examples/visualizations/pointcloud_segmentation.py
  tests/core/test_model.py
  tests/image/detection/test_data_model_integration.py
  tests/video/classification/test_model.py
Labels: documentation

#668 Update codeowners
  .github/CODEOWNERS
Labels: good first issue, waiting on author

#665 ImageEmbedder Docs: Fix print and remove embedding_dim usage
  README.md
  flash_examples/integrations/fiftyone/image_embedding.py
Labels: bug / fix, documentation

#669 read_image to default_loader
  flash/image/segmentation/data.py
Labels: enhancement

#670 updated mock Image object
  flash/core/utilities/imports.py
  flash/image/classification/data.py
  flash/image/data.py
  flash/image/segmentation/data.py
  tests/core/test_model.py
Labels: enhancement

#676 Optimizers added to flash
  flash/core/optimizers/__init__.py
  flash/core/optimizers/lamb.py
  flash/core/optimizers/lars.py
  flash/core/optimizers/lr_scheduler.py
  tests/core/optimizers/test_lr_shceduler.py
Labels: enhancement

#687 [1/N] Auto-generate data sources documentation
  docs/extensions/autodatasources.py
  docs/extensions/templates/base.rst
  docs/source/conf.py
  docs/source/reference/audio_classification.rst
  docs/source/reference/image_classification.rst
  docs/source/reference/semantic_segmentation.rst
  flash/audio/classification/data.py
  flash/core/data/data_module.py
  flash/graph/classification/data.py
  flash/image/classification/data.py
  flash/image/data.py
  flash/image/detection/data.py
  flash/image/instance_segmentation/data.py
  flash/image/keypoint_detection/data.py
  flash/image/segmentation/data.py
  flash/pointcloud/detection/data.py
  requirements/docs.txt
Labels: documentation

#710 [docs] Adds reference links for torch ORT
  docs/source/reference/summarization.rst
  docs/source/reference/text_classification.rst
  docs/source/reference/translation.rst
Labels: documentation
