Repository Lightning-Universe/lightning-flash, pull requests merged in 2022-04, with the labels that each got.

#1264 Add support for all image classifier backbones to the image embedder
  CHANGELOG.md
  docs/source/reference/image_embedder.rst
  flash/image/embedding/backbones/__init__.py
  flash/image/embedding/backbones/vissl_backbones.py
  flash/image/embedding/heads/vissl_heads.py
  flash/image/embedding/losses/vissl_losses.py
  flash/image/embedding/model.py
  flash/image/embedding/strategies/vissl_strategies.py
  flash/image/embedding/transforms/vissl_transforms.py
  flash/image/embedding/vissl/adapter.py
  flash/image/embedding/vissl/transforms/__init__.py
  flash/image/embedding/vissl/transforms/multicrop.py
  flash/image/embedding/vissl/transforms/utilities.py
  flash_examples/image_embedder.py
  tests/core/integrations/vissl/test_strategies.py
  tests/deprecated_api/__init__.py
  tests/deprecated_api/test_remove_0_9_0.py
  tests/image/embedding/test_model.py
  tests/image/embedding/utils.py
Labels: enhancement

#1085 Audio classification support for raw audio files
  CHANGELOG.md
  flash/audio/classification/data.py
  flash/audio/classification/input.py
  flash/audio/data.py
  flash/audio/speech_recognition/data.py
  flash/audio/speech_recognition/input.py
  tests/audio/classification/test_data.py
Labels: enhancement

#1253 Mark unstable features as Beta
  docs/extensions/stability.py
  docs/source/general/flash_zero.rst
  docs/source/integrations/baal.rst
  docs/source/integrations/learn2learn.rst
  docs/source/integrations/vissl.rst
  docs/source/reference/image_embedder.rst
  docs/source/reference/pointcloud_object_detection.rst
  docs/source/reference/pointcloud_segmentation.rst
  docs/source/reference/style_transfer.rst
  flash/core/utilities/flash_cli.py
  flash/image/classification/adapters.py
  flash/image/classification/integrations/baal/loop.py
  flash/image/embedding/vissl/adapter.py
  flash/image/face_detection/data.py
  flash/image/face_detection/model.py
  flash/image/style_transfer/data.py
  flash/image/style_transfer/model.py
  flash/pointcloud/segmentation/data.py
  flash/pointcloud/segmentation/model.py
Labels: documentation

#1276 Make dependency of vissl optional
  CHANGELOG.md
  flash/core/utilities/imports.py
  flash/image/embedding/model.py
  flash/image/embedding/strategies/__init__.py
  flash/image/embedding/strategies/default.py
  flash/image/embedding/strategies/vissl_strategies.py
  flash_examples/integrations/fiftyone/image_embedding.py
  tests/image/embedding/test_model.py
Labels: enhancement

#1280 Reduce number of warnings generated by PL
  flash/core/classification.py
  flash/core/data/io/input_transform.py
  flash/core/data/utils.py
  flash/core/model.py
  flash/core/utilities/url_error.py
  tests/core/data/test_callback.py
Labels: bug / fix

#1283 Remove deepsource config
  .deepsource.toml
Labels: tests / CI

#1284 Add test harness for speech recognition
  flash/audio/speech_recognition/model.py
  flash/audio/speech_recognition/output_transform.py
  tests/audio/speech_recognition/test_model.py
Labels: tests / CI

#1285 Add tabular test harnesses
  flash/core/integrations/pytorch_forecasting/adapter.py
  flash/tabular/forecasting/model.py
  tests/tabular/classification/test_model.py
  tests/tabular/forecasting/test_model.py
  tests/tabular/regression/test_model.py
Labels: tests / CI

#1291 Add test for dependency error when task is instantiated
  tests/helpers/task_tester.py
Labels: tests / CI

#1294 update slack link
  .github/CONTRIBUTING.md
  README.md
  docs/source/quickstart.rst
Labels: documentation

#1281 Fix support for plain LightningModules with FlashDataModule
  CHANGELOG.md
  flash/core/data/data_module.py
  tests/core/data/test_data_module.py
Labels: bug / fix

#1293 Add test fit to harness and refactor data processing hooks
  flash/core/adapter.py
  flash/core/data/data_module.py
  flash/core/data/io/input_transform.py
  flash/core/data/splits.py
  flash/core/data/utilities/classification.py
  flash/core/integrations/icevision/adapter.py
  flash/core/integrations/icevision/transforms.py
  flash/core/model.py
  flash/image/classification/adapters.py
  flash/image/classification/integrations/baal/data.py
  flash/pointcloud/detection/model.py
  flash/pointcloud/segmentation/model.py
  tests/helpers/task_tester.py
  tests/image/classification/test_model.py
  tests/image/detection/test_model.py
Labels: tests / CI, Refactor (Functional)

#1296 Fix CI compatibility with TM 0.8
  requirements/datatype_image_extras.txt
  requirements/datatype_tabular.txt
Labels: bug / fix, tests / CI

#1295 Add harness `fit_test` to image tasks
  flash/core/integrations/icevision/transforms.py
  tests/image/instance_segmentation/test_model.py
  tests/image/keypoint_detection/test_model.py
  tests/image/segmentation/test_model.py
  tests/image/style_transfer/test_model.py
Labels: tests / CI

#1212 some other cleaning
  flash/core/data/utilities/paths.py
  flash/core/integrations/labelstudio/input.py
  flash/core/integrations/pytorch_tabular/backbones.py
  flash/core/serve/composition.py
  flash/core/serve/dag/optimization.py
  flash/core/serve/dag/order.py
  flash/core/serve/dag/rewrite.py
  flash/core/serve/dag/task.py
  flash/core/serve/flash_components.py
  flash/core/utilities/flash_cli.py
  flash/core/utilities/on_access_enum_meta.py
  flash/image/classification/backbones/resnet.py
  flash/image/style_transfer/model.py
  flash/pointcloud/detection/open3d_ml/app.py
  flash/pointcloud/segmentation/open3d_ml/app.py
  flash/pointcloud/segmentation/open3d_ml/sequences_dataset.py
  flash/text/question_answering/input.py
Labels: enhancement

#1250 Update slack link
  .gitignore
  flash_notebooks/image_classification.ipynb
  flash_notebooks/tabular_classification.ipynb
  flash_notebooks/text_classification.ipynb
Labels: documentation

#1299 Add task fit test for audio and refactor collate handling
  docs/source/api/data.rst
  flash/audio/speech_recognition/collate.py
  flash/core/data/io/input_transform.py
  flash/core/data/transforms.py
  flash/core/data/utilities/collate.py
  flash/core/integrations/icevision/adapter.py
  flash/core/model.py
  flash/pointcloud/detection/model.py
  flash/pointcloud/segmentation/model.py
  tests/audio/speech_recognition/test_model.py
  tests/core/data/test_input_transform.py
Labels: tests / CI, Refactor (Functional)

#1301 Add test harness fit test to graph tasks
  flash/graph/classification/input_transform.py
  flash/graph/classification/model.py
  flash/graph/collate.py
  flash/graph/embedding/model.py
  tests/graph/classification/test_model.py
Labels: tests / CI, Refactor (Functional)

#1306 Fix icevision default CLI
  CHANGELOG.md
  flash/image/detection/cli.py
  flash/image/instance_segmentation/cli.py
  flash/image/keypoint_detection/cli.py
Labels: bug / fix, tests / CI

#1307 Fix HF LR schedulers
  .github/workflows/ci-testing.yml
  CHANGELOG.md
  flash/core/model.py
  flash/core/trainer.py
  flash/text/classification/data.py
  setup.py
  tests/core/test_model.py
  tests/examples/test_scripts.py
Labels: bug / fix

#1317 Update conf.py with lightning extension
  docs/source/conf.py
Labels: documentation
