Repository Lightning-Universe/lightning-flash, pull requests merged in 2022-09, with the labels that each got.

#1389 `from_tensors` support for `VideoClassification`
  flash/video/classification/data.py
  flash/video/classification/input.py
  flash/video/classification/utils.py
  tests/video/classification/test_data.py
  tests/video/classification/test_model.py
Labels: enhancement

#1433 Add TPU support to the CI
  .circleci/config.yml
  dockers/tpu-tests/Dockerfile
  dockers/tpu-tests/docker-entrypoint.sh
  dockers/tpu-tests/tpu_test_cases.jsonnet
  flash/core/trainer.py
  tests/tpu/test_sample_tpu.py
  tests/tpu_tests.sh
Labels: tests / CI

#1347 refactor/fix default_uncollate
  flash/core/data/batch.py
Labels: Refactor (Functional)

#1444 Video Classification `from_tensors`: test for incorrect data
  CHANGELOG.md
  tests/video/classification/test_data.py
Labels: tests / CI

#1210 Add support for soft targets
  docs/source/api/data.rst
  docs/source/general/classification_targets.rst
  flash/core/data/utilities/classification.py
  tests/core/data/utilities/test_classification.py
Labels: enhancement, Ready to Go

#1443 TPU Tests
  flash/core/trainer.py
  tests/tpu/__init__.py
  tests/tpu/test_tpu_multi_core.py
  tests/tpu/test_tpu_single_core.py
Labels: Ready to Go, tests / CI

#1446 GitHub Actions: Upgrade from `macOS-10.15` to `macOS-12` (10.15 is deprecated)
  .github/workflows/ci-install-pkg.yml
  .github/workflows/ci-testing.yml
Labels: Ready to Go, tests / CI

#1319 Refactor: use PIL as default image format
  docs/source/api/image.rst
  docs/source/template/data.rst
  flash/core/data/transforms.py
  flash/image/data.py
  flash/image/segmentation/input.py
  flash/image/segmentation/input_transform.py
  flash/image/segmentation/model.py
  flash/image/segmentation/viz.py
Labels: Refactor (Functional)

#1448 Improve memory usage
  flash/core/data/io/input.py
Labels: bug / fix

#1313 refactoring Img Segm augmentation with `albumentations`
  CHANGELOG.md
  docs/source/api/data.rst
  flash/core/data/transforms.py
  flash/core/data/utilities/collate.py
  flash/core/utilities/imports.py
  flash/image/classification/input_transform.py
  flash/image/classification/integrations/learn2learn.py
  flash/image/instance_segmentation/data.py
  flash/image/segmentation/input.py
  flash/image/segmentation/input_transform.py
  flash/image/segmentation/model.py
  flash/image/segmentation/output.py
  flash/image/segmentation/viz.py
  flash_examples/integrations/learn2learn/image_classification_imagenette_mini.py
  requirements/datatype_image.txt
  requirements/datatype_image_extras.txt
  tests/core/data/test_transforms.py
  tests/image/instance_segmentation/test_data.py
Labels: enhancement, Refactor (Functional)

#1445 Release v0.8
  CHANGELOG.md
  flash/__about__.py
Labels: enhancement
