Repository Lightning-Universe/lightning-flash, pull requests merged in 2022-06, with the labels that each got.

#1342 Fix un-usability of manual optimization in Flash.
  CHANGELOG.md
  README.md
  docs/source/general/optimization.rst
  flash/core/model.py
  tests/core/test_model.py
Labels: bug / fix

#1364 Pin jsonargparse to compatible version
  requirements.txt
Labels: bug / fix, tests / CI

#1353 add instance segmentation per_sample_transform
  CHANGELOG.md
  flash/core/integrations/icevision/transforms.py
  flash/image/detection/output.py
  flash/image/instance_segmentation/data.py
  tests/image/detection/test_output.py
  tests/image/instance_segmentation/test_data.py
Labels: enhancement

#1367 Correct python version support metadata
  setup.py
Labels: bug / fix

#1362 fix SpeechRecognitionOutputTransform if local
  CHANGELOG.md
  flash/audio/speech_recognition/model.py
Labels: bug / fix
