Repository Lightning-Universe/lightning-flash, pull requests merged in 2022-05, with the labels that each got.

#1325 Update CHANGELOG.md following bi-weekly releases
  CHANGELOG.md
Labels: documentation

#1324 Fix tabular classifier serve
  .gitignore
  CHANGELOG.md
  flash/tabular/classification/model.py
  flash/tabular/regression/model.py
  flash_examples/serve/tabular_classification/inference_server.py
Labels: bug / fix

#1305 Add harness fit test to video
  flash/video/classification/input.py
  flash/video/classification/input_transform.py
  flash/video/classification/model.py
  tests/video/classification/test_model.py
Labels: tests / CI, Refactor (Functional)

#1316 simplify require wrapper
  flash/core/integrations/icevision/transforms.py
  flash/core/model.py
  flash/core/utilities/imports.py
  flash/image/classification/integrations/baal/loop.py
  flash/image/embedding/model.py
  flash/image/embedding/strategies/vissl_strategies.py
  flash/image/instance_segmentation/cli.py
  flash/image/keypoint_detection/input_transform.py
Labels: refactors & code health

#1330 Skip core tests when not `core` testing
  .github/workflows/ci-testing.yml
  flash/core/data/data_module.py
  flash/core/data/utilities/classification.py
  flash/core/data/utils.py
  flash/core/model.py
  flash/core/optimizers/lamb.py
  flash/core/optimizers/lars.py
  flash/core/optimizers/lr_scheduler.py
  flash/core/serve/dag/optimization.py
  flash/core/serve/dag/order.py
  flash/core/serve/dag/rewrite.py
  flash/core/serve/dag/task.py
  flash/core/serve/dag/utils.py
  flash/core/serve/decorators.py
  flash/core/serve/interfaces/models.py
  flash/core/serve/utils.py
  flash/core/utilities/imports.py
  flash/core/utilities/stability.py
  flash_examples/question_answering.py
  tests/core/data/io/test_input.py
  tests/core/data/io/test_output.py
  tests/core/data/io/test_output_transform.py
  tests/core/data/test_batch.py
  tests/core/data/test_callback.py
  tests/core/data/test_callbacks.py
  tests/core/data/test_data_module.py
  tests/core/data/test_data_pipeline.py
  tests/core/data/test_input_transform.py
  tests/core/data/test_properties.py
  tests/core/data/test_splits.py
  tests/core/data/test_transforms.py
  tests/core/data/utilities/test_classification.py
  tests/core/integrations/labelstudio/test_labelstudio.py
  tests/core/optimizers/test_lr_scheduler.py
  tests/core/optimizers/test_optimizers.py
  tests/core/serve/test_compat/test_cached_property.py
  tests/core/serve/test_dag/test_optimization.py
  tests/core/serve/test_dag/test_order.py
  tests/core/serve/test_dag/test_rewrite.py
  tests/core/serve/test_dag/test_task.py
  tests/core/serve/test_dag/test_utils.py
  tests/core/serve/test_types/test_bbox.py
  tests/core/serve/test_types/test_image.py
  tests/core/serve/test_types/test_label.py
  tests/core/serve/test_types/test_number.py
  tests/core/serve/test_types/test_repeated.py
  tests/core/serve/test_types/test_table.py
  tests/core/serve/test_types/test_text.py
  tests/core/test_classification.py
  tests/core/test_data.py
  tests/core/test_finetuning.py
  tests/core/test_model.py
  tests/core/test_registry.py
  tests/core/test_trainer.py
  tests/core/test_utils.py
  tests/core/utilities/test_lightning_cli.py
  tests/core/utilities/test_stability.py
  tests/examples/test_scripts.py
  tests/template/classification/test_data.py
  tests/template/classification/test_model.py
Labels: tests / CI

#1315 Support latest version of BaaL (1.5.2) and add necessary utilities
  .github/workflows/ci-testing.yml
  CHANGELOG.md
  flash/core/utilities/imports.py
  flash/image/classification/integrations/baal/dropout.py
  requirements/datatype_image_extras.txt
  requirements/datatype_image_extras_baal.txt
  tests/image/classification/test_active_learning.py
Labels: bug / fix, tests / CI

#1332 Add fit tests for tabular tasks
  flash/core/integrations/pytorch_tabular/adapter.py
  flash_examples/question_answering.py
  tests/helpers/task_tester.py
  tests/tabular/classification/test_model.py
  tests/tabular/forecasting/test_model.py
  tests/tabular/regression/test_model.py
Labels: tests / CI

#1329 Fix unfreeze strategies with onecyclelr and reduced lr
  CHANGELOG.md
  docs/source/general/finetuning.rst
  flash/core/finetuning.py
  tests/core/test_finetuning.py
Labels: bug / fix

#1333 Add harness fit tests to text tasks
  tests/text/classification/test_model.py
  tests/text/classification/test_ort.py
  tests/text/question_answering/test_model.py
  tests/text/seq2seq/summarization/test_model.py
  tests/text/seq2seq/translation/test_model.py
Labels: tests / CI

#1336 Add pontcloud test harnesses
  flash/pointcloud/segmentation/model.py
  tests/helpers/task_tester.py
  tests/pointcloud/detection/test_model.py
  tests/pointcloud/segmentation/test_model.py
Labels: tests / CI

#1338 Remove some unused code
  flash/core/data/io/input.py
  flash/core/data/io/input_transform.py
  flash/core/data/properties.py
  flash/core/model.py
  flash/core/utilities/on_access_enum_meta.py
  flash/core/utilities/stages.py
  tests/core/data/test_input_transform.py
  tests/core/serve/test_compat/test_cached_property.py
Labels: Refactor (Non-functional)

#1337 Support `from_lists` for Tabular Classification and Regression (lists of dict/tuple)
  CHANGELOG.md
  flash/tabular/classification/data.py
  flash/tabular/classification/input.py
  flash/tabular/regression/data.py
  flash/tabular/regression/input.py
  tests/tabular/classification/test_data.py
  tests/tabular/regression/test_data_model_integration.py
Labels: enhancement

#1339 Bugfix: `_show_images_and_labels` - flatten axes to allow plotting for subplots
  CHANGELOG.md
  flash/image/classification/data.py
  tests/image/classification/test_data.py
Labels: bug / fix
