Repository Lightning-Universe/lightning-flash, pull requests merged in 2022-02, with the labels that each got.

#1148 Add required dependencies error to `available_*` methods
  flash/core/model.py
  tests/core/test_model.py
Labels: bug / fix

#1149 Fix bug in number of tabular forecasting prediction samples
  CHANGELOG.md
  flash/tabular/forecasting/input.py
  flash_examples/tabular_forecasting.py
  requirements/test.txt
  tests/examples/test_scripts.py
  tests/tabular/forecasting/test_data.py
Labels: bug / fix

#1152 Add `FlashRegistry` of Available Heads for `flash.image.ImageClassifier`
  CHANGELOG.md
  flash/core/model.py
  flash/image/classification/heads.py
  flash/image/classification/model.py
  tests/core/test_model.py
  tests/image/classification/test_model.py
Labels: enhancement

#1158 Fix compatibility with TM master
  flash/image/segmentation/model.py
  flash/pointcloud/segmentation/model.py
Labels: bug / fix

#1162 Expand installation troubleshooting section
  docs/source/installation.md
Labels: documentation

#1161 Fix `TextEmbedder` docs
  docs/source/api/text.rst
  docs/source/reference/text_embedder.rst
Labels: documentation

#1163 Fix backbone freezing with icevision models
  CHANGELOG.md
  flash/core/integrations/icevision/backbones.py
  flash/image/detection/model.py
  flash_examples/integrations/fiftyone/object_detection.py
Labels: bug / fix

#1167 Fix potential memory leak if samples are nested collections
  flash/core/data/io/input.py
Labels: bug / fix

#1165 Update formatting targets guide
  CHANGELOG.md
  docs/source/general/classification_targets.rst
  flash/core/data/data_module.py
  flash/core/data/utilities/classification.py
  tests/core/data/utilities/test_classification.py
Labels: documentation

#1168 extend finetune msg
  flash/core/model.py
Labels: documentation

#1169 Enable BAAL tests
  flash/image/classification/integrations/baal/loop.py
  tests/image/classification/test_active_learning.py
Labels: tests / CI

#1171 Add ability to override the TargetFormatter in classification tasks
  CHANGELOG.md
  docs/source/general/classification_targets.rst
  flash/audio/classification/data.py
  flash/core/data/data_module.py
  flash/core/data/utilities/classification.py
  flash/image/classification/data.py
  flash/image/detection/data.py
  flash/tabular/classification/data.py
  flash/text/classification/data.py
  flash/video/classification/data.py
Labels: enhancement

#1172 Default learning rate to None (default lr for the optimizer)
  CHANGELOG.md
  flash/audio/speech_recognition/model.py
  flash/core/model.py
  flash/core/optimizers/optimizers.py
  flash/graph/classification/model.py
  flash/image/classification/model.py
  flash/image/detection/model.py
  flash/image/embedding/model.py
  flash/image/face_detection/model.py
  flash/image/instance_segmentation/model.py
  flash/image/keypoint_detection/model.py
  flash/image/segmentation/model.py
  flash/image/style_transfer/model.py
  flash/pointcloud/detection/model.py
  flash/pointcloud/segmentation/model.py
  flash/tabular/classification/model.py
  flash/tabular/forecasting/model.py
  flash/tabular/regression/model.py
  flash/template/classification/model.py
  flash/text/classification/model.py
  flash/text/question_answering/model.py
  flash/text/seq2seq/core/model.py
  flash/text/seq2seq/summarization/model.py
  flash/text/seq2seq/translation/model.py
  flash/video/classification/model.py
  tests/core/test_model.py
Labels: enhancement, Refactor (Functional)

#1174 Bump version to 0.7.0
  CHANGELOG.md
  flash/__about__.py
Labels: documentation

#1176 Bump version to 0.8.0dev
  CHANGELOG.md
  flash/__about__.py
Labels: documentation

#1177 Fix incorrect deprecation warning being raised
  flash/core/data/data_module.py
Labels: bug / fix

#1178 Expose normalization parameters
  CHANGELOG.md
  docs/source/reference/image_classification.rst
  flash/image/classification/input_transform.py
  flash_examples/image_classification.py
Labels: enhancement

#1180 update GH templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/how-to-question.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#1181 CI: enable multi-GPU testing
  .azure-pipelines/gpu-example-tests.yml
  .azure-pipelines/testing-template.yml
Labels: tests / CI

#1179 Docs: ref backbones
  Makefile
  docs/source/general/backbones.rst
  docs/source/governance.rst
  docs/source/reference/audio_classification.rst
  docs/source/reference/graph_classification.rst
  docs/source/reference/graph_embedder.rst
  docs/source/reference/image_classification.rst
  docs/source/reference/image_classification_multi_label.rst
  docs/source/reference/image_embedder.rst
  docs/source/reference/instance_segmentation.rst
  docs/source/reference/keypoint_detection.rst
  docs/source/reference/object_detection.rst
  docs/source/reference/pointcloud_object_detection.rst
  docs/source/reference/pointcloud_segmentation.rst
  docs/source/reference/question_answering.rst
  docs/source/reference/semantic_segmentation.rst
  docs/source/reference/speech_recognition.rst
  docs/source/reference/style_transfer.rst
  docs/source/reference/summarization.rst
  docs/source/reference/tabular_classification.rst
  docs/source/reference/tabular_forecasting.rst
  docs/source/reference/text_classification.rst
  docs/source/reference/text_classification_multi_label.rst
  docs/source/reference/text_embedder.rst
  docs/source/reference/translation.rst
  docs/source/reference/video_classification.rst
  requirements/docs.txt
Labels: documentation

#1182 Fix DDP support
  CHANGELOG.md
  flash/core/data/io/input.py
  flash/core/data/io/transform_predictions.py
  flash/core/trainer.py
  flash/image/classification/model.py
  flash/image/segmentation/model.py
  flash/text/classification/model.py
  flash/text/question_answering/input.py
  flash/text/question_answering/model.py
  flash/text/seq2seq/core/input.py
  requirements/test.txt
  tests/examples/test_scripts.py
  tests/examples/utils.py
  tests/helpers/forked.py
Labels: bug / fix, Priority

#1192 Update object_detection.rst
  docs/source/reference/object_detection.rst
Labels: documentation

#1189 Fix Video DDP
  .azure-pipelines/gpu-example-tests.yml
  .azure-pipelines/testing-template.yml
  CHANGELOG.md
  flash/core/trainer.py
  flash/video/classification/model.py
  flash_examples/video_classification.py
Labels: bug / fix

#1187 Relax serve requirements
  flash/core/serve/flash_components.py
  flash_examples/serve/image_classification/inference_server.py
  requirements/serve.txt
Labels: bug / fix, documentation
