Repository Lightning-Universe/lightning-flash, pull requests merged in 2022-01, with the labels that each got.

#1093 Docstrings for image classification data
  .pre-commit-config.yaml
  docs/source/general/classification_targets.rst
  docs/source/general/customizing_transforms.rst
  docs/source/index.rst
  flash/core/data/data_module.py
  flash/image/classification/data.py
  requirements/test.txt
  setup.cfg
  tests/core/data/test_callback.py
Labels: documentation

#1094 Make Segmentation Tasks reproducible
  CHANGELOG.md
  flash/image/segmentation/input.py
Labels: bug / fix

#1095 Fix example formatting in docs
  flash/image/classification/data.py
Labels: documentation

#1096 `AudioClassificationData` docstrings
  CHANGELOG.md
  flash/audio/classification/data.py
  flash/audio/classification/input.py
  flash/image/classification/data.py
Labels: documentation

#1097 Docstrings for `SpeechRecognitionData`
  CHANGELOG.md
  flash/audio/speech_recognition/cli.py
  flash/audio/speech_recognition/data.py
  flash/audio/speech_recognition/input.py
  flash/core/data/utilities/samples.py
  flash_examples/speech_recognition.py
Labels: documentation, Data Pipeline V2

#1099 Remove dependency on private `_get_default_scheduler_config`
  flash/core/model.py
Labels: bug / fix

#1100 Docstrings for `StyleTransferData`
  flash/image/style_transfer/data.py
Labels: documentation, Data Pipeline V2

#1103 Remove `_run_train` override and fix active learning example on PL master
  flash/core/trainer.py
  flash/image/classification/integrations/baal/loop.py
Labels: bug / fix

#1101 Docstrings for `SemanticSegmentationData`
  CHANGELOG.md
  flash/image/segmentation/data.py
  flash/image/segmentation/input.py
Labels: bug / fix, documentation, Data Pipeline V2

#1105 Docstrings for `TabularForecastingData`
  flash/tabular/__init__.py
  flash/tabular/forecasting/data.py
Labels: documentation, Data Pipeline V2

#1106 Some fixes for compatibility with PL master
  flash/core/data/io/input_transform.py
Labels: bug / fix

#1108 Fix PointCloud Pretrained Backbones
  flash/pointcloud/detection/open3d_ml/backbones.py
  flash/pointcloud/segmentation/open3d_ml/backbones.py
  flash/tabular/classification/model.py
  tests/pointcloud/detection/test_data.py
Labels: bug / fix

#1102 Docstrings for IceVision data
  CHANGELOG.md
  flash/core/integrations/icevision/data.py
  flash/core/integrations/icevision/transforms.py
  flash/image/__init__.py
  flash/image/detection/data.py
  flash/image/instance_segmentation/data.py
  flash/image/keypoint_detection/data.py
  flash_examples/integrations/fiftyone/object_detection.py
  tests/image/detection/test_data.py
  tests/image/instance_segmentation/test_data.py
  tests/image/instance_segmentation/test_model.py
  tests/image/keypoint_detection/test_data.py
Labels: bug / fix, documentation, Data Pipeline V2

#1110 update doc object detection
  docs/source/reference/object_detection.rst
Labels: documentation

#1114 Refactor tabular data to use classification targets handling
  CHANGELOG.md
  docs/source/api/tabular.rst
  flash/tabular/classification/cli.py
  flash/tabular/classification/data.py
  flash/tabular/classification/input.py
  flash/tabular/classification/model.py
  flash/tabular/classification/utils.py
  flash/tabular/data.py
  flash/tabular/input.py
  flash/tabular/regression/cli.py
  flash/tabular/regression/data.py
  flash/tabular/regression/input.py
  flash/tabular/regression/model.py
  flash_examples/tabular_classification.py
  flash_examples/tabular_regression.py
  tests/tabular/classification/test_model.py
  tests/tabular/regression/test_data_model_integration.py
  tests/tabular/regression/test_model.py
Labels: bug / fix, Data Pipeline V2, Refactor (Functional)

#1116 Rename ClassificationInput to ClassificationInputMixin
  CHANGELOG.md
  docs/source/api/data.rst
  docs/source/template/data.rst
  flash/audio/classification/input.py
  flash/core/data/io/classification_input.py
  flash/graph/classification/input.py
  flash/image/classification/input.py
  flash/tabular/classification/input.py
  flash/tabular/regression/input.py
  flash/template/classification/data.py
  flash/text/classification/input.py
Labels: Data Pipeline V2, Refactor (Functional)

#1118 Fix compatibility with Torchmetrics RC
  flash/text/seq2seq/core/metrics.py
  flash/text/seq2seq/summarization/model.py
Labels: bug / fix

#1117 Refactor Video Inputs
  CHANGELOG.md
  docs/source/api/video.rst
  flash/video/classification/data.py
  flash/video/classification/input.py
  tests/video/classification/test_model.py
Labels: Data Pipeline V2, Refactor (Functional)

#1115 Docstrings for tabular data
  flash/tabular/classification/data.py
  flash/tabular/regression/data.py
Labels: documentation, Data Pipeline V2

#1122 Fix compatability with `torchmetrics==0.7.0`
  flash/core/utilities/imports.py
  flash/text/question_answering/model.py
  flash/text/seq2seq/summarization/model.py
  flash/text/seq2seq/translation/model.py
Labels: bug / fix

#1120 Docstrings for `VideoClassificationData`
  flash/core/data/utilities/data_frame.py
  flash/video/classification/data.py
  flash/video/classification/input.py
  tests/image/classification/test_data.py
Labels: documentation, Data Pipeline V2

#1124 Remove dead code and rename `transforms.py` -> `input_transform.py`
  README.md
  docs/source/api/core.rst
  docs/source/api/data.rst
  docs/source/api/image.rst
  docs/source/reference/image_classification.rst
  docs/source/template/optional.rst
  flash/audio/classification/input_transform.py
  flash/core/data/transforms.py
  flash/core/integrations/icevision/transforms.py
  flash/image/classification/data.py
  flash/image/classification/input_transform.py
  flash/image/classification/model.py
  flash/image/classification/transforms.py
  flash/image/instance_segmentation/__init__.py
  flash/image/instance_segmentation/data.py
  flash/image/segmentation/data.py
  flash/image/segmentation/input_transform.py
  flash/image/segmentation/model.py
  tests/core/data/test_transforms.py
Labels: Data Pipeline V2, Refactor (Functional)

#1123 Refactor classification target handling to expose `TargetFormatter` to users
  docs/source/api/data.rst
  flash/audio/classification/input.py
  flash/core/data/io/classification_input.py
  flash/core/data/utilities/classification.py
  flash/graph/classification/input.py
  flash/image/classification/input.py
  flash/text/classification/input.py
  flash/video/classification/input.py
  tests/core/data/utilities/test_classification.py
Labels: enhancement, Refactor (Functional)

#1121 Docstrings for `GraphClassificationData`
  CHANGELOG.md
  flash/core/data/io/classification_input.py
  flash/core/data/utilities/classification.py
  flash/core/data/utilities/samples.py
  flash/graph/classification/data.py
  flash/graph/classification/input.py
  flash/graph/classification/input_transform.py
Labels: documentation, Data Pipeline V2

#1127 Docstrings for `TextClassificationData`
  flash/text/classification/data.py
Labels: documentation, Data Pipeline V2

#1130 Add support for segmentation with different mask extensions
  CHANGELOG.md
  flash/image/segmentation/data.py
  flash/image/segmentation/input.py
  tests/image/segmentation/test_data.py
Labels: enhancement

#1128 Docstrings for seq2seq data
  CHANGELOG.md
  docs/source/api/text.rst
  flash/text/__init__.py
  flash/text/seq2seq/__init__.py
  flash/text/seq2seq/core/__init__.py
  flash/text/seq2seq/core/data.py
  flash/text/seq2seq/core/input.py
  flash/text/seq2seq/summarization/data.py
  flash/text/seq2seq/translation/data.py
Labels: documentation, Data Pipeline V2

#1136 Docstrings for `from_fiftyone`
  CHANGELOG.md
  flash/core/utilities/imports.py
  flash/image/classification/data.py
  flash/image/classification/input.py
  flash/image/detection/data.py
  flash/image/detection/input.py
  flash/image/segmentation/data.py
  flash/image/segmentation/input.py
  flash/video/classification/data.py
  flash/video/classification/input.py
Labels: bug / fix, documentation, Data Pipeline V2

#1137 Remove special characters from tabular regression example
  flash_examples/tabular_regression.py
Labels: documentation

#1138 Cast targets to long in template task
  flash/template/classification/data.py
Labels: bug / fix

#1139 Skip translation example test on windows
  tests/examples/test_scripts.py
Labels: bug / fix

#1140 Fix CI failure reporting on windows
  .github/workflows/ci-testing.yml
Labels: tests / CI

#1142 Switch per-test rety to global retries to reduce flakiness
  .github/workflows/ci-testing.yml
  requirements/test.txt
  tests/core/data/utilities/test_classification.py
  tests/helpers/retry.py
Labels: tests / CI

#1145 Fix CI OOM
  flash/audio/classification/data.py
  flash/image/classification/data.py
  flash/tabular/classification/data.py
  flash/tabular/forecasting/data.py
  flash/tabular/regression/data.py
  flash/text/classification/data.py
  flash/text/question_answering/data.py
  flash/text/seq2seq/summarization/data.py
  flash/text/seq2seq/translation/data.py
  flash/video/classification/data.py
Labels: tests / CI

#1144 Fix tabular with no categorical fields
  CHANGELOG.md
  flash/tabular/input.py
  tests/tabular/classification/test_data_model_integration.py
  tests/tabular/regression/test_data_model_integration.py
Labels: bug / fix

#1147 Remove kornia version limitation
  requirements/datatype_image.txt
  requirements/datatype_video.txt
  zero_requirements/image_classification.txt
Labels: bug / fix
