Repository Lightning-Universe/lightning-flash, pull requests merged in 2022-07, with the labels that each got.

#1372 Add more ways to load image data for classification and detection
  CHANGELOG.md
  flash/image/classification/data.py
  flash/image/classification/input.py
  flash/image/detection/data.py
  flash/image/detection/input.py
Labels: enhancement

#1384 Correct GitHub Organisation Name
  README.md
  flash/__about__.py
  flash/core/optimizers/lr_scheduler.py
  flash/core/trainer.py
  flash/core/utilities/apply_func.py
  flash/core/utilities/lightning_cli.py
  flash/setup_tools.py
  setup.py
  tests/core/utilities/test_lightning_cli.py
  tests/helpers/boring_model.py
Labels: documentation

#1385 Fix dead links
  flash/core/utilities/apply_func.py
  flash/core/utilities/lightning_cli.py
  flash/setup_tools.py
  tests/core/utilities/test_lightning_cli.py
  tests/helpers/boring_model.py
Labels: documentation

#1390 Add `krshrimali` as code maintainer, add `alumni`
  .github/CODEOWNERS
  docs/source/governance.rst
Labels: documentation

#1387 Refactor file loading to use fsspec
  CHANGELOG.md
  docs/source/api/audio.rst
  docs/source/api/data.rst
  docs/source/general/remote_data_loading.rst
  docs/source/index.rst
  docs/source/reference/tabular_classification.rst
  flash/audio/classification/data.py
  flash/audio/classification/input.py
  flash/audio/data.py
  flash/audio/speech_recognition/data.py
  flash/audio/speech_recognition/input.py
  flash/core/data/utilities/data_frame.py
  flash/core/data/utilities/loading.py
  flash/core/data/utilities/paths.py
  flash/core/data/utils.py
  flash/core/integrations/icevision/data.py
  flash/core/integrations/labelstudio/input.py
  flash/image/classification/data.py
  flash/image/classification/input.py
  flash/image/data.py
  flash/image/segmentation/input.py
  flash/tabular/classification/data.py
  flash/tabular/classification/input.py
  flash/tabular/input.py
  flash/tabular/regression/data.py
  flash/tabular/regression/input.py
  flash/text/classification/data.py
  flash/text/classification/input.py
  flash/text/question_answering/data.py
  flash/text/question_answering/input.py
  flash/text/seq2seq/core/input.py
  flash/text/seq2seq/summarization/data.py
  flash/text/seq2seq/translation/data.py
  flash/video/classification/data.py
  flash/video/classification/input.py
  flash_examples/image_classification.py
  flash_examples/tabular_classification.py
  flash_examples/tabular_regression.py
  tests/core/data/utilities/test_loading.py
  tests/core/data/utilities/test_paths.py
  tests/image/classification/test_data.py
  tests/image/classification/test_data_model_integration.py
Labels: enhancement

#1369 Support `NP_EXTENSIONS` for `SemanticSegmentationFilesInput`
  CHANGELOG.md
  flash/core/data/utilities/loading.py
  flash/image/segmentation/data.py
  flash/image/segmentation/input.py
Labels: bug / fix

#1395 Explicitly add fsspec requirement to fix rtd build
  requirements.txt
Labels: documentation

#1396 [1/2] Use any task as an embedder for any layer
  CHANGELOG.md
  flash/core/model.py
  flash/core/utilities/embedder.py
  tests/core/test_model.py
  tests/core/utilities/test_embedder.py
Labels: enhancement

#1381 Enhancement/1314 allow sizing show sample
  CHANGELOG.md
  flash/core/data/base_viz.py
  flash/core/data/data_module.py
  flash/image/classification/data.py
  flash/image/segmentation/viz.py
  flash/template/classification/data.py
  tests/core/data/test_base_viz.py
Labels: enhancement

#1359 tabular robust mean/std
  flash/tabular/classification/utils.py
  tests/tabular/classification/test_data.py
Labels: bug / fix
