Repository Lightning-Universe/lightning-flash, pull requests merged in 2022-03, with the labels that each got.

#1203 Fix loss function buffer support
  CHANGELOG.md
  flash/core/utilities/apply_func.py
  tests/core/test_model.py
Labels: bug / fix

#1195 docs benchmark
  docs/source/reference/image_classification.rst
Labels: documentation

#1194 note for DDP inference
  docs/source/general/predictions.rst
Labels: documentation

#1204 Fix sampler instance support
  CHANGELOG.md
  flash/core/data/data_module.py
  tests/core/data/test_data_module.py
Labels: bug / fix

#1205 Fix for ecosystem CI
  tests/helpers/forked.py
Labels: tests / CI

#1206 Add available outputs method
  CHANGELOG.md
  flash/core/model.py
Labels: enhancement

#1211 add class typing
  flash/audio/speech_recognition/input.py
  flash/core/data/callback.py
  flash/core/data/io/classification_input.py
  flash/core/integrations/icevision/data.py
  flash/core/integrations/labelstudio/input.py
  flash/core/utilities/flash_cli.py
  flash/core/utilities/lightning_cli.py
  flash/graph/classification/input.py
  flash/image/classification/input.py
  flash/image/classification/integrations/baal/loop.py
  flash/image/detection/input.py
  flash/image/segmentation/input.py
  flash/pointcloud/detection/input.py
  flash/pointcloud/detection/open3d_ml/input.py
  flash/pointcloud/segmentation/input.py
  flash/pointcloud/segmentation/open3d_ml/sequences_dataset.py
  flash/tabular/input.py
  flash/template/classification/data.py
  flash/video/classification/input.py
  flash_examples/flash_components/custom_data_loading.py
  tests/helpers/boring_model.py
Labels: enhancement

#1213 Fix normalizing video classification input
  CHANGELOG.md
  flash/video/classification/input_transform.py
Labels: bug / fix

#1196 Fix `pretraining_transforms` for `ImageEmbedder`
  CHANGELOG.md
  flash/core/data/io/input_transform.py
  flash/image/embedding/heads/vissl_heads.py
  flash/image/embedding/losses/vissl_losses.py
  flash/image/embedding/model.py
  flash/image/embedding/vissl/adapter.py
  tests/image/embedding/test_model.py
Labels: bug / fix

#1221 Use 512 as image size for object detection example
  flash_examples/object_detection.py
Labels: bug / fix

#1234 Fix support for torch 11
  CHANGELOG.md
  flash/core/serve/types/bbox.py
  flash/text/question_answering/input.py
  flash/text/seq2seq/core/input.py
Labels: bug / fix

#1235 Update graph libraries in CI
  .github/workflows/ci-testing.yml
  requirements/datatype_graph.txt
Labels: tests / CI

#1222 Fix detection ddp spawn
  .azure-pipelines/gpu-example-tests.yml
  .azure-pipelines/testing-template.yml
  CHANGELOG.md
  flash/core/integrations/icevision/adapter.py
  flash/core/integrations/icevision/backbones.py
  flash/core/integrations/icevision/transforms.py
  flash/image/detection/backbones.py
Labels: bug / fix

#1242 Add beta admonition extension to docs
  docs/extensions/__init__.py
  docs/extensions/stability.py
  docs/source/_static/main.css
  docs/source/conf.py
  docs/source/reference/pointcloud_object_detection.rst
  docs/source/reference/pointcloud_segmentation.rst
Labels: documentation

#1246 Fix text example for DDP CI
  flash_examples/summarization.py
Labels: documentation, tests / CI

#1248 Fix docs build / serve Jinja2 error
  requirements/docs.txt
  requirements/serve.txt
Labels: bug / fix, documentation

#1247 Fix CI with PL 1.6.0
  flash/core/utilities/imports.py
  tests/core/test_trainer.py
  tests/core/utilities/test_lightning_cli.py
Labels: tests / CI

#1245 Add decorator to mark features as Beta
  flash/core/utilities/stability.py
  flash/pointcloud/detection/data.py
  flash/pointcloud/detection/model.py
  tests/core/utilities/test_stability.py
Labels: documentation, enhancement

#1233 Refactor InputTransform and DataModule
  README.md
  docs/source/integrations/icevision.rst
  docs/source/reference/image_classification.rst
  docs/source/reference/object_detection.rst
  flash/audio/classification/data.py
  flash/audio/speech_recognition/data.py
  flash/core/adapter.py
  flash/core/data/data_module.py
  flash/core/data/io/input.py
  flash/core/data/io/input_transform.py
  flash/core/data/io/output_transform.py
  flash/core/integrations/icevision/adapter.py
  flash/core/integrations/icevision/backbones.py
  flash/core/integrations/icevision/wrappers.py
  flash/core/model.py
  flash/core/serve/flash_components.py
  flash/graph/classification/data.py
  flash/image/classification/adapters.py
  flash/image/classification/data.py
  flash/image/detection/backbones.py
  flash/image/detection/data.py
  flash/image/face_detection/data.py
  flash/image/instance_segmentation/backbones.py
  flash/image/instance_segmentation/data.py
  flash/image/keypoint_detection/backbones.py
  flash/image/keypoint_detection/data.py
  flash/image/segmentation/data.py
  flash/image/style_transfer/data.py
  flash/pointcloud/detection/data.py
  flash/pointcloud/detection/model.py
  flash/pointcloud/segmentation/data.py
  flash/pointcloud/segmentation/model.py
  flash/tabular/classification/data.py
  flash/tabular/forecasting/data.py
  flash/tabular/regression/data.py
  flash/template/classification/data.py
  flash/text/classification/data.py
  flash/text/question_answering/data.py
  flash/text/seq2seq/summarization/data.py
  flash/text/seq2seq/translation/data.py
  flash/video/classification/data.py
  flash/video/classification/input_transform.py
  flash_examples/flash_components/custom_data_loading.py
  flash_examples/integrations/learn2learn/image_classification_imagenette_mini.py
  tests/audio/classification/test_data.py
  tests/core/data/test_callback.py
  tests/core/data/test_callbacks.py
  tests/core/data/test_data_module.py
  tests/core/data/test_data_pipeline.py
  tests/core/data/test_input_transform.py
  tests/core/test_model.py
  tests/graph/classification/test_data.py
  tests/graph/classification/test_model.py
  tests/graph/embedding/test_model.py
  tests/image/classification/test_data.py
  tests/image/detection/test_model.py
  tests/image/embedding/utils.py
Labels: Refactor (Functional)

#1217 Propagate `collate_fn` to `InputTransform` in `ImageEmbedder`
  CHANGELOG.md
  flash/core/adapter.py
  flash/core/data/io/input_transform.py
  flash/image/embedding/heads/vissl_heads.py
  flash/image/embedding/losses/vissl_losses.py
  flash/image/embedding/model.py
  flash/image/embedding/transforms/vissl_transforms.py
  flash/image/embedding/vissl/hooks.py
  flash/image/embedding/vissl/transforms/__init__.py
  flash/image/embedding/vissl/transforms/multicrop.py
  flash_examples/image_embedder.py
  tests/core/integrations/vissl/test_transforms.py
  tests/image/embedding/test_model.py
Labels: bug / fix

#1252 Fix icevision task metric names
  CHANGELOG.md
  flash/core/data/utils.py
  flash/core/integrations/icevision/adapter.py
  flash/core/integrations/icevision/wrappers.py
Labels: bug / fix

#1254 clean up and refactor
  flash/core/data/io/classification_input.py
  flash/core/data/utils.py
  flash/core/finetuning.py
Labels: Refactor (Non-functional)

#1259 Clean-up to fix rtd build
  flash/core/finetuning.py
Labels: documentation

#1251 Fix ReduceLROnPlateau
  CHANGELOG.md
  docs/source/general/optimization.rst
  flash/core/model.py
  tests/core/test_model.py
Labels: bug / fix

#1262 Clean-up and fix RTD enum build issue
  docs/source/general/finetuning.rst
  flash/core/finetuning.py
  flash/core/model.py
Labels: documentation, Refactor (Non-functional)

#1256 Fix VISSL on GPU and add VISSL GPU CI
  .azure-pipelines/gpu-example-tests.yml
  .azure-pipelines/testing-template.yml
  CHANGELOG.md
  docs/source/reference/image_embedder.rst
  flash/core/utilities/imports.py
  flash/image/embedding/model.py
  flash/image/embedding/vissl/adapter.py
  flash/image/embedding/vissl/hooks.py
  flash_examples/image_embedder.py
  tests/examples/test_scripts.py
  tests/helpers/decorators.py
  tests/image/embedding/test_model.py
Labels: bug / fix

#1266 Bump version of black to 22.3.0
  .pre-commit-config.yaml
  flash/tabular/data.py
Labels: tests / CI

#1267 Filter fpn backbones for torchvision
  CHANGELOG.md
  flash/core/integrations/icevision/backbones.py
  tests/image/detection/test_data_model_integration.py
  tests/image/instance_segmentation/test_model.py
  tests/image/keypoint_detection/test_model.py
Labels: bug / fix
