Repository Lightning-Universe/lightning-flash, pull requests merged in 2022-10, with the labels that each got.

#1463 Make stale bot a bit kinder
  .github/stale.yml
Labels: tests / CI

#1458 Add CLIP backbones for text / image classification
  CHANGELOG.md
  docs/source/quickstart.rst
  flash/core/registry.py
  flash/core/utilities/embedder.py
  flash/core/utilities/providers.py
  flash/image/classification/adapters.py
  flash/image/classification/backbones/__init__.py
  flash/image/classification/backbones/clip.py
  flash/image/segmentation/model.py
  flash/text/classification/adapters.py
  flash/text/classification/backbones/__init__.py
  flash/text/classification/backbones/clip.py
  flash/text/classification/backbones/huggingface.py
  flash/text/classification/model.py
  flash_examples/serve/text_classification/inference_server.py
  requirements/datatype_image.txt
  requirements/datatype_text.txt
  tests/core/test_model.py
  tests/image/classification/test_model.py
  tests/text/classification/test_model.py
Labels: enhancement

#1457 Integration of `lightning_utilties` function into `flash`
  .github/workflows/docs-check.yml
  flash/core/data/base_viz.py
  flash/core/utilities/apply_func.py
  flash/core/utilities/imports.py
  flash/image/detection/backbones.py
  flash/image/instance_segmentation/backbones.py
  requirements.txt
Labels: Refactor (Functional)

#1469 Fix compatibility with TM 10
  CHANGELOG.md
  flash/core/utilities/imports.py
  flash/image/segmentation/model.py
  flash/pointcloud/segmentation/model.py
  flash_examples/serve/semantic_segmentation/inference_server.py
  tests/core/test_model.py
Labels: bug / fix

#1470 Fix compatibility with lightning master
  flash/core/data/base_viz.py
  flash/core/data/data_module.py
  flash/core/data/io/input.py
  flash/core/data/io/input_transform.py
  flash/core/data/splits.py
  flash/core/data/utilities/paths.py
  flash/core/finetuning.py
  flash/core/integrations/labelstudio/input.py
  flash/core/model.py
  flash/core/registry.py
  flash/core/trainer.py
  flash/core/utilities/lightning_cli.py
  flash/image/classification/adapters.py
  flash/image/classification/integrations/baal/data.py
  flash/image/classification/integrations/baal/dropout.py
  flash/image/classification/integrations/baal/loop.py
  flash/image/classification/model.py
  flash/pointcloud/detection/open3d_ml/input.py
  flash/pointcloud/segmentation/open3d_ml/sequences_dataset.py
  flash/tabular/forecasting/input.py
  flash/tabular/input.py
  flash/text/ort_callback.py
  flash/video/classification/input.py
  flash/video/classification/model.py
  requirements.txt
  tests/core/data/io/test_input.py
  tests/core/data/test_base_viz.py
  tests/core/data/test_input_transform.py
  tests/core/data/test_splits.py
  tests/core/test_finetuning.py
  tests/core/test_registry.py
  tests/core/test_trainer.py
  tests/image/segmentation/test_data.py
  tests/tabular/forecasting/test_data.py
  tests/text/classification/test_model.py
Labels: bug / fix

#1476 CI: switch GPU pool
  .azure-pipelines/gpu-example-tests.yml
  .azure-pipelines/gpu-special-tests.yml
  .azure-pipelines/testing-template.yml
Labels: enhancement
