Repository Lightning-Universe/lightning-flash, pull requests merged in 2022-08, with the labels that each got.

#1412 CI: Set up dependabot for GitHub Actions
  .github/dependabot.yml
Labels: tests / CI

#1411 CI: Update docker image
  .azure-pipelines/gpu-special-tests.yml
Labels: tests / CI

#1383 Updated the learn2learn "image_classification_imagenette_mini" example
  CHANGELOG.md
  flash_examples/integrations/learn2learn/image_classification_imagenette_mini.py
Labels: bug / fix

#1426 Remove accelerator="ddp*" instances, replace with accelerator="gpu" and strategy flag
  README.md
  flash_examples/integrations/learn2learn/image_classification_imagenette_mini.py
  tests/core/utilities/test_lightning_cli.py
  tests/image/classification/test_training_strategies.py
Labels: tests / CI

#1436 Upgrade @krshrimali to leads
  .github/CODEOWNERS
  docs/source/governance.rst
Labels: documentation
