Repository Lightning-Universe/lightning-flash, pull requests merged in 2023-05, with the labels that each got.

#1487 bump versions & cleaning
  docs/source/general/finetuning.rst
  requirements.txt
  requirements/datatype_pointcloud.txt
  requirements/datatype_tabular.txt
  src/flash/core/classification.py
  src/flash/core/model.py
  src/flash/core/trainer.py
  src/flash/core/utilities/imports.py
  src/flash/image/classification/adapters.py
  src/flash/image/classification/integrations/baal/loop.py
  src/flash/image/segmentation/model.py
  src/flash/pointcloud/segmentation/model.py
  src/flash/text/question_answering/model.py
  src/flash/text/seq2seq/summarization/model.py
  src/flash/text/seq2seq/translation/model.py
  tests/core/utilities/test_lightning_cli.py
  tests/image/classification/test_training_strategies.py
Labels: bug / fix

#1552 bump min py3.8
  .github/workflows/ci-testing.yml
  .github/workflows/docs-check.yml
  .github/workflows/pypi-release.yml
  .pre-commit-config.yaml
  setup.py
  src/flash/core/serve/_compat/cached_property.py
  src/flash/core/utilities/stability.py
  tests/core/utilities/test_lightning_cli.py
Labels: enhancement, refactors & code health

#1554 ruff: enable RET
  pyproject.toml
  src/flash/audio/speech_recognition/output_transform.py
  src/flash/core/data/data_module.py
  src/flash/core/data/io/input.py
  src/flash/core/data/io/input_transform.py
  src/flash/core/data/transforms.py
  src/flash/core/data/utilities/classification.py
  src/flash/core/integrations/labelstudio/input.py
  src/flash/core/integrations/labelstudio/visualizer.py
  src/flash/core/integrations/pytorch_tabular/adapter.py
  src/flash/core/integrations/pytorch_tabular/backbones.py
  src/flash/core/model.py
  src/flash/core/registry.py
  src/flash/core/serve/dag/optimization.py
  src/flash/core/serve/dag/visualize.py
  src/flash/core/serve/execution.py
  src/flash/core/serve/interfaces/http.py
  src/flash/core/serve/server.py
  src/flash/core/utilities/apply_func.py
  src/flash/image/classification/integrations/learn2learn.py
  src/flash/image/detection/input.py
  src/flash/image/embedding/transforms/vissl_transforms.py
  src/flash/image/embedding/vissl/adapter.py
  src/flash/pointcloud/detection/open3d_ml/input.py
  src/flash/pointcloud/segmentation/open3d_ml/sequences_dataset.py
  src/flash/tabular/classification/input.py
  src/flash/tabular/classification/model.py
  src/flash/tabular/classification/utils.py
  src/flash/tabular/regression/input.py
  src/flash/tabular/regression/model.py
  src/flash/video/classification/input.py
  src/flash/video/classification/utils.py
  tests/helpers/boring_model.py
  tests/image/classification/test_active_learning.py
  tests/image/detection/test_data.py
Labels: enhancement, refactors & code health

#1555 ruff: enable SIM
  pyproject.toml
  src/flash/audio/classification/input.py
  src/flash/core/data/data_module.py
  src/flash/core/data/io/input_transform.py
  src/flash/core/data/splits.py
  src/flash/core/integrations/pytorch_tabular/backbones.py
  src/flash/core/integrations/transformers/collate.py
  src/flash/core/model.py
  src/flash/core/optimizers/lamb.py
  src/flash/core/optimizers/lars.py
  src/flash/core/registry.py
  src/flash/core/serve/component.py
  src/flash/core/serve/composition.py
  src/flash/core/serve/core.py
  src/flash/core/serve/dag/optimization.py
  src/flash/core/serve/dag/order.py
  src/flash/core/serve/dag/utils.py
  src/flash/core/serve/execution.py
  src/flash/core/utilities/flash_cli.py
  src/flash/graph/backbones.py
  src/flash/image/classification/backbones/resnet.py
  src/flash/image/classification/data.py
  src/flash/image/classification/input.py
  src/flash/image/classification/integrations/baal/loop.py
  src/flash/image/detection/data.py
  src/flash/image/detection/output.py
  src/flash/image/embedding/model.py
  src/flash/image/face_detection/input_transform.py
  src/flash/image/keypoint_detection/backbones.py
  src/flash/text/classification/adapters.py
  src/flash/text/question_answering/input.py
  src/flash/video/classification/data.py
  tests/audio/classification/test_model.py
  tests/core/serve/test_types/test_number.py
  tests/core/serve/test_types/test_text.py
  tests/core/utilities/test_lightning_cli.py
  tests/helpers/task_tester.py
  tests/image/classification/test_training_strategies.py
  tests/image/face_detection/test_model.py
  tests/video/classification/test_model.py
Labels: enhancement, refactors & code health

#1557 ruff: enable PT
  pyproject.toml
  src/flash/core/integrations/labelstudio/input.py
  tests/audio/classification/test_data.py
  tests/conftest.py
  tests/core/data/test_base_viz.py
  tests/core/data/test_callback.py
  tests/core/data/test_data_module.py
  tests/core/data/test_transforms.py
  tests/core/data/utilities/test_loading.py
  tests/core/integrations/vissl/test_strategies.py
  tests/core/optimizers/test_lr_scheduler.py
  tests/core/optimizers/test_optimizers.py
  tests/core/test_data.py
  tests/core/test_finetuning.py
  tests/core/test_model.py
  tests/core/test_trainer.py
  tests/core/utilities/test_embedder.py
  tests/core/utilities/test_lightning_cli.py
  tests/core/utilities/test_stability.py
  tests/deprecated_api/test_remove_0_9_0.py
  tests/examples/test_scripts.py
  tests/image/classification/test_active_learning.py
  tests/image/classification/test_data.py
  tests/image/detection/test_data_model_integration.py
  tests/image/embedding/test_model.py
  tests/image/instance_segm/test_model.py
  tests/image/keypoint_detection/test_model.py
  tests/image/test_backbones.py
  tests/tabular/classification/test_data_model_integration.py
  tests/tabular/regression/test_data_model_integration.py
  tests/template/classification/test_model.py
  tests/video/classification/test_data.py
Labels: bug / fix, refactors & code health, tests / CI

#1559 PyTorch Tabular integrations
  src/flash/core/integrations/pytorch_tabular/adapter.py
  src/flash/core/integrations/pytorch_tabular/backbones.py
  tests/tabular/classification/test_data_model_integration.py
  tests/tabular/classification/test_model.py
  tests/tabular/regression/test_data_model_integration.py
  tests/tabular/regression/test_model.py
Labels: enhancement
