Repository Lightning-Universe/lightning-flash, pull requests merged in 2023-06, with the labels that each got.

#1581 ci: cleaning script data
  tests/examples/test_scripts.py
Labels: bug / fix, tests / CI

#1582 ci/tests: running strict
  pyproject.toml
  tests/core/utilities/test_lightning_cli.py
  tests/image/style_transfer/test_model.py
Labels: bug / fix, tests / CI

#1594 ci: use minimal pip cache
  .github/workflows/ci-testing.yml
Labels: enhancement, tests / CI

#1597 ci: split cache to restore & save
  .github/workflows/ci-testing.yml
Labels: tests / CI

#1600 ci: cashing transformers
  .github/workflows/ci-testing.yml
Labels: tests / CI

#1595 relax latest numpy
  requirements/base.txt
  requirements/datatype_audio.txt
  requirements/serve.txt
  src/flash/__init__.py
  src/flash/audio/speech_recognition/data.py
Labels: bug / fix

#1620 Fix use of jsonargparse avoiding reliance on non-public internal logic
  requirements/base.txt
  src/flash/core/utilities/flash_cli.py
  src/flash/core/utilities/lightning_cli.py
  tests/core/utilities/test_lightning_cli.py
Labels: enhancement

#1622 bump lit Bolts to >=0.7.0
  requirements/datatype_image.txt
  requirements/datatype_tabular.txt
  requirements/testing_audio.txt
Labels: enhancement

#1623 ci: extend releasing flow
  .github/workflows/pypi-release.yml
  CHANGELOG.md
Labels: tests / CI
